// @import '~foundation-sites/scss/foundation.scss';

// @import 'currentfoundation.scss';

// @import '~foundation-sites/scss/foundation';

// topbar
.promo-bar {
	background-color: rgb(0, 142, 216);
	padding: 10px 10px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
}

.promo-bar a {
	color: #fff;
	margin: 0 auto;
	font-size: 1rem;
	font-weight: 600;
	display: block;
	line-height: 1.3rem;
}

.promo-bar span.button.hollow.small {
	margin: 0 0 0 30px;
	color: #fff;
	border-color: #fff;
	@media screen and (max-width: 992px) {
		display: none;
	}
}
img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
.promo-bar span.phone.hide-for-small-only {
}

.item-container {
}

.promo-bar span.button.hollow.small:hover {
	background: #fff;
	color: #038ed8;
}
// header
header.main {
	padding: 30px 20px;
	position: relative;
	z-index: 12;

	@media screen and (max-width: 992px) {
		padding: 30px 0;
	}
	.content {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		@media screen and (max-width: 992px) {
			padding: 20px 0;
			flex-direction: row-reverse;
		}
	}

	.responsive-bar {
		position: relative;
		display: none;
		@media screen and (max-width: 992px) {
			display: block;
			position: relative;
			margin-left: auto;
			margin-right: 20px;
		}
		a.menu-icon-toggle {
			position: relative;
			top: 0;
			left: 0;
		}
	}
	.logo-block {
		@media screen and (max-width:992px) {
			margin-left: 20px;
		}
	}
	a.main-nav-logo {
		max-width: 158px;
		position: relative;
		display: block;
	}

	nav.top {
		margin-left: auto;
		transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);

		@media screen and (max-width: 992px) {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			background: #eee;
			opacity: 0;
			visibility: hidden;
			background: #1f4f8b;
		}
		&.active-menu {
			visibility: visible;
			opacity: 1;
		}
	}

	ul.nav {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		@media screen and (max-width: 992px) {
			flex-direction: column;
			padding: 30px 0;
		}
	}

	ul.nav a {
		padding: 0.7rem;
		color: #192d3e;
		font-size: 1rem;
		font-family: proxima-soft, sans-serif;
		border-radius: 5px;
		display: block;
		&:hover {
			background: #eee;
			@media screen and (max-width: 992px) {
				color: #1f4f8b;
			}
		}
		@media screen and (max-width: 992px) {
			color: #fff;
		}
	}

	ul.nav a.button.secondary.rounded.shadow {
		margin: 0px;
		border-radius: 30px;
		color: #fff;
		margin-left: 20px;
		&:hover {
			background: #eee;
		}
	}
}

.h1,
.h2,
h1,
h2 {
	margin-bottom: 1rem;
}

/* # Top Bar and Title Bar
================================================== */
.top-bar {
	font-size: 1.125rem;
	font-family: 'proxima-soft', sans-serif;
	padding: 30px 20px;
}
.top-bar .main-nav-logo {
	width: 158px;
	float: left;
	margin-right: 20px;
	position: relative;
	top: 3px;
}
.top-bar .button {
	font-size: 1rem;
}
.top-bar a {
	color: #192d3e;
}
.top-bar a.button {
	color: #ffffff;
	font-size: 1.125rem;
	margin-left: 1.25rem;
}

.top-bar,
.top-bar ul {
	background: #ffffff;
}

.title-bar {
	display: none;
	padding: 1.5em;
	position: relative;
	background: transparent;
}
.title-bar .main-nav-logo {
	width: 150px;
}

/* # Home Hero
================================================== */

section.hero-home {
	padding: 140px 0 30px;
	position: relative;

	@media screen and (max-width: 992px) {
		padding: 80px 0 60px;
	}
	img.imageblock {
		margin: 0;
		max-width: 450px;
		position: absolute;
		top: 0;
		left: 0;

		@media screen and (max-width: 992px) {
			margin: 0 0 30px;
		}
		@media screen and (max-width: 700px) {
			margin: 0 0 30px;
			max-width: 100%;
			width: 100%;
		}
	}
	.content {
		display: flex;
		align-items: center;
		@media screen and (max-width: 992px) {
			flex-direction: column-reverse;
		}

		span.sub-headline {
			font-weight: 600;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #038ed8;
			display: block;
			margin: 0 0 10px;
			font-family: proxima-soft, sans-serif;
		}

		.column-half {
			&.content-col {
				width: 60%;

				padding: 0px 80px 80px 0;
			}

			&.image-col {
				width: 70%;

				width: 50%;
				// min-height: 500px;
				// min-height: 600px;
				display: flex;
				align-items: center;
				justify-content: center;

				@media screen and (max-width: 1200px) {
					width: 40%;
				}
				@media screen and (max-width: 992px) {
					width: 100%;
					max-width: 100%;
				}
			}

			&.content-col {
				@media screen and (max-width: 1200px) {
					width: 60%;
				}
				@media screen and (max-width: 992px) {
					width: 100%;
					padding: 30px 0 60px;
					
					text-align: center;
					// max-width: 500px;
					margin: 0 auto;
				}
			}
		}
		.btn-container {
			margin: 30px -10px 0;

			@media screen and (max-width: 700px) {
				margin: 30px 0 0;
			}
		}
		h1 {
			margin: 0 0 20px;
			font-size: 4.3rem;
			letter-spacing: -1px;
			font-weight: 800;
			line-height: 1em;
			&.hiw-title {
				font-size: 4.1rem;
				@media screen and (max-width: 992px) {
					font-size: 3rem;
					margin: 0 0 20px;
				}
			}
			@media screen and (max-width: 992px) {
				font-size: 3rem;
				margin: 0 0 20px;
			}
		}
		a.alink {
			color: #008ed8;
		}
		p {
			@media screen and (max-width: 992px) {
				max-width: 700px;
				margin: 0 auto;
			}
		}
	}
	.orbit-image {
		height: 100%;
		object-fit: cover;
		object-position: center;
		width: 100%;
		display: block;
		min-height: 50vh;
		border-radius: 30px 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		max-height: 500px;
		width: 45%;
		right: 0;
		// box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), 0 0 15px 0 rgba(0, 0, 0, 0.02), 0 0 20px 4px rgba(0, 0, 0, 0.06);

		@media screen and (max-width: 1200px) {
			min-height: 60vh;
			width: 40%;
		}
		@media screen and (max-width: 992px) {
			min-height: 0px;
			// max-height: 480px;
			position: relative;
			top: 0;
			transform: none;
			max-width: 100%;
			width: 100%;
		}
	}

	.container {
		max-width: 75rem;
		margin-left: auto;
		margin-right: auto;
		padding: 0 20px;
	}
}

/* # Panel - Reversed
================================================== */
section.how-it-works {
	padding: 90px 0;


	 .image.quatroimg {
		background: #fff;
		border-radius: 50%;
		width: 120px;
		height: 120px;
		display: flex;
		padding: 30PX;
		margin: 20px auto;
		align-items: center;
	}
	
	 .image.quatroimg img {
		max-height: 110px;
		max-width: 70px;
	}

	.tellink {
		color: #fff;
	}
	.image {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 20px 0;

		img {
			max-width: 110px;
		}
	}
}
section.how-it-works .hiw-cell {
	padding: 30px 30px 0;
	max-width: 500px;
	margin: 0 auto;
}

section.how-it-works.panel--primary.quatro {
	.hiw-cell {
		padding: 30px 30px 0;
	}
	
	h3.padding-bottom-3 {
		font-size: 16px;
	}
}




section.how-it-works .pre-headline {
	font-size: 1.125rem;
	color: #ffffff;
}
section.how-it-works .headline {
	text-align: center;
	font-size: 3.75rem;
	letter-spacing: -1px;
	font-weight: 800;
	line-height: 4.4rem;
}
section.how-it-works h3 {
	font-size: 1.375rem;
	font-weight: 700;
	position: relative;
}
section.how-it-works .steps {
	text-align: center;
}
section.how-it-works .step {
	font-size: 50px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: -80px;
	opacity: 1;
	text-shadow: 0px 4px rgba(0, 0, 0, 0.15);
}
section.how-it-works.panel--primary {
	background-color: #0088ce;
	color: #ffffff;
	// border-radius: 80px 0;
}
section.how-it-works.panel--primary p {
	font-size: 1.1875rem;
	a {
		text-decoration: underline;
	}
}
section.how-it-works.panel--primary.panel--cta {
	// background: #0088ce url('../images/cta-background-dots.svg') no-repeat;
	background-position: center bottom;
	background-size: 410px;
	padding-bottom: 0;
}
section.how-it-works.panel--primary.panel--cta--doctors {
	// background: #0088ce url('../images/cta-background-dots.svg') no-repeat;
	background-position: center bottom;
	background-size: 410px;
}
section.how-it-works.panel--primary .button {
	background: #254e89;
	margin: 10px 0 80px;
	text-transform: uppercase;
	font-size: 1rem;
	padding: 20px 30px;
	@media screen and (max-width: 992px) {
		margin: 10px 0 90px;
	}
}
section.how-it-works.panel--primary {
	.prescription {
		max-width: 870px;
		margin: 0 auto;
	}
	small {
		font-weight: 600;
		line-height: 14px;
		display: block;
		font-size: 12px;
		letter-spacing: -1px;
	}
}

@media screen and (max-width: 992px) {
	section.how-it-works .hiw-cell {
		padding: 30px 30px;
	}
}

/* # Button
================================================== */
.button {
	font-size: 1.25rem;
	border-radius: 30px;
}
.button.shadow {
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
.button.secondary {
	background: #d0103a;
}
.button.secondary:hover {
	background: #d0103a;
}

/* # Hero - Subpage
================================================== */
section.hero--sub-page {
	padding: 3.125rem 0;
}
section.hero--sub-page h1 {
	margin-bottom: 2.5rem;
}
.page-template-page-get-started section.hero--sub-page h1 {
	margin-bottom: 1rem;
}
.page-template-page-locations section.hero--sub-page h1 {
	margin-bottom: 0;
}

/* # Hello Bar
================================================== */
.hello-bar {
	color: #ffffff;
	background: #00a4bd;
	-webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
	height: 55px;
	font-size: 1rem;
	font-weight: 600;
	display: block;
	line-height: 55px;
	position: relative;
}
.hello-bar .button.hollow {
	position: relative;
	top: 8px;
	border-color: #ffffff;
	color: #ffffff;
}
.hello-bar .phone {
	display: flex;
	margin-right: 30px;
	position: relative;
	right: 0;
	top: 0;
	align-self: flex-end;
	margin-left: auto;
	margin: 0;
}
.hello-bar a {
	color: inherit;
	margin: 0 auto;
}

/* # Global Padding
================================================== */
.padded-section {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

.margin-bottom {
	margin-bottom: 2.5rem;
}

.margin-top {
	margin-top: 2.5rem;
}

/* # Borders
================================================== */
.border-styled {
	border-radius: 0 5rem;
}

.border-styled.small {
	border-radius: 0 3.125rem;
}

/* # Footer
================================================== */
.footer {
	padding: 60px 0 0;
}
.footer .text-small {
	font-size: 0.875rem;
}
.footer .logo {
	width: 122px;
}
.footer a {
	color: #192d3e;
}
.footer .menu a {
	padding-left: 0px;
	font-weight: normal;
}
.footer .disclaimer {
	margin-top: 2rem;
	font-size: 0.875rem;
	color: #999;
}
.footer .disclaimer hr {
	border-bottom: 1px solid #e5e5e5;
}
.footer h6 {
	font-family: 'proxima-soft', sans-serif;
	font-weight: 800;
	color: #254e89;
}

/* # Testimonials
================================================== */
.testimonials-section {
	padding: 10px 0px 30px;
}

.testimonials-section .testimonial {
	padding: 50px 0px 15px;
}

.testimonials-section .testimonial p {
	font-size: 1.25rem;
}

.testimonials-section .testimonial-image {
	position: relative;
}

.testimonials-section .testimonial-copy {
	padding-left: 2rem;
}

.testimonials-section .testimonial cite {
	font-size: 1em;
	font-style: normal;
}

.testimonials-section-2 {
	background: #e5f3fa;
	margin-top: 3rem;
	padding: 10px 0px 30px;
}

.testimonials-section-2 .testimonial {
	padding: 50px 0px 15px;
}

.testimonials-section-2 .testimonial p {
	font-size: 1.25rem;
}

.testimonials-section-2 .testimonial-image {
	position: relative;
}

.testimonials-section-2 .testimonial-copy {
	padding-left: 2rem;
}

.testimonials-section-2 .testimonial cite {
	font-size: 1em;
	font-style: normal;
}
/*
.testimonials-section-2 .orbit-bullets button {
  width: .5rem;
  height: .5rem;
  background-color: #e5f3fa;
} */

#get-started-carousel .get-started-bullets.is-active {
	background-color: #737373;
}

#get-started-carousel .get-started-bullets {
	width: 3rem;
	height: 0.25rem;
	background-color: #ced4db;
	border-radius: 1rem;
	cursor: pointer;
}

.get-started-bullets.is-active {
	background-color: #616161;
}

.testimonials-main,
.disclaimer-main {
	margin-top: 1rem;
}

.testimonial-image-wrapper {
	position: relative;
}

.testimonial-image {
	z-index: 1;
	position: relative;
}

.testimonial-image-background {
	border: 2px solid #ccc;
	background: #eee;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0.8rem;
	left: 0.8rem;
}

.testimonials-area h4 {
	font-size: 2rem;
	font-weight: 100;
	text-align: left;
	color: #126f9e;
}

.testimonials-carousel-title h4 {
	color: #d0103a;
}

.testimonial-copy p,
.testimonial-copy cite {
	font-size: 1.2rem;
	line-height: 1.5rem;
	text-align: left;
}

.testimonials-area {
	margin-bottom: 1rem;
}

/* # Hubspot Form
================================================== */

form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b input[type='text'],
form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b input[type='tel'],
form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b input[type='email'],
form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b textarea {
	width: 100%;
}

form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b textarea {
	border: 0.15rem solid #0088ce;
	height: 7rem;
	font-size: 1.2rem;
	resize: none;
}

@media (min-width: 481px) {
	form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b .hs-form-field.hs-firstname,
	form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b .hs-form-field.hs-lastname {
		width: calc(50% - 0.5rem);
	}

	form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b .hs-firstname {
		margin-right: 0.5rem;
	}

	form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b .hs-lastname {
		margin-left: 0.5rem;
	}
}

form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b .input {
	margin-right: 0;
}

form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b ul.inputs-list {
	margin-left: 0;
	margin-bottom: 0.5rem;
	list-style-type: none;
}

form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b input[type='text'],
form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b input[type='tel'],
form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b input[type='email'] {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0.15rem solid #0088ce;
	box-shadow: none;
	padding: 0.5rem 0;
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.hs_firstname label,
.hs_lastname label,
.hs_phone label,
.hs_email label,
.hs_city label {
	display: none;
}

.hs_firstname::-webkit-input-placeholder::before {
	color: #666;
	content: 'Line 1\A Line 2\A Line 3\A';
}

.hs_switch_to_nowrx_pharmacy label {
	font-size: 1.2rem;
	line-height: 1.5rem;
	display: flex;
	margin-bottom: 1rem;
}

.hs_switch_to_nowrx_pharmacy > label,
.hs_message_to_nowrx > label {
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: #126f9e;
}

.hs_message_to_nowrx > label {
	margin-bottom: 1rem;
}

.hs_switch_to_nowrx_pharmacy > label {
	margin-bottom: 1rem;
}

.hs_switch_to_nowrx_pharmacy input[type='checkbox'] {
	-webkit-appearance: none;
	background-color: #c7d0d7;
	padding: 0.75rem;
	display: inline-block;
	position: relative;
	margin-bottom: 0;
	max-height: 26px;
}

.hs_switch_to_nowrx_pharmacy input[type='checkbox']:focus {
	outline: none;
	outline-style: none;
}

.hs_switch_to_nowrx_pharmacy span {
	margin: auto 0;
}

.hs_switch_to_nowrx_pharmacy input[type='checkbox']:checked {
	background-color: #0088ce;
	color: #fff;
}

.hs_switch_to_nowrx_pharmacy input[type='checkbox']:after {
	content: '✕';
	font-size: 1rem;
	position: absolute;
	color: #fff;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hs_switch_to_nowrx_pharmacy input[type='checkbox']:checked:after {
	opacity: 1;
}

form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b input[type='submit'] {
	display: inline-block;
	vertical-align: middle;
	padding: 0.75em 2em;
	border: 1px solid transparent;
	border-radius: 0;
	-webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
	font-family: inherit;
	-webkit-appearance: none;
	line-height: 1;
	text-align: center;
	cursor: pointer;
	background-color: #27cc00;
	color: #ffffff;
	border-radius: 8px;
}

label.hs-error-msg {
	background: #ff494941;
	color: #a01616;
	width: fit-content;
	padding: 0.25rem 0.5rem;
	border-radius: 1rem;
	font-size: 0.75rem;
	line-height: 1rem;
	margin-bottom: 1rem;
}

/* # Featured In Logos
================================================== */
.featured-in-section {
	background: #ffffff;
	padding: 3.125rem 0px;
	@media screen and (max-width: 992px) {
		display: none;
	}
}
.featured-in-section p {
	margin-bottom: 0px;
}
.featured-in-section-logo {
	height: 30px;
	margin: 0px 20px;
	width: auto;
	height: auto;
	max-width: 120px;
	max-height: 40px;

	@media screen and (max-width: 992px) {
		margin: 10px 20px;
	}
}

/* # Modal - Reveal
================================================== */
.reveal {
	border: none;
	-webkit-box-shadow: 0px 20px 40px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 20px 40px 1px rgba(0, 0, 0, 0.25);
	border-radius: 0 30px;
}

.reveal-overlay {
	background-color: rgba(37, 78, 137, 0.95);
}

.slide-in-down.mui-enter.mui-enter-active,
.slide-out-up.mui-leave.mui-leave-active {
	-webkit-transition-duration: 100ms;
	transition-duration: 100ms;
}

/* # NowRx In The News
================================================== */
section.in-the-news {
	padding: 5.625rem 0;
	.large-4.cell {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
}
section.in-the-news img {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	width: 100%;
	border-radius: 0 5rem;
	margin: 1.25rem auto 0;
}
section.in-the-news a {
	color: inherit;
}
section.in-the-news h5 {
	font-weight: 600;
}
section.in-the-news {
	text-align: center;
	font-size: 3.75rem;
	letter-spacing: -1px;
	font-weight: 800;
	line-height: 4.4rem;
	@media screen and (max-width: 992px) {
		line-height: 3rem;
		font-size: 3rem;
	}
}

/* # Careers
================================================== */
.accordion-title {
	font-size: 1.5rem;
	font-weight: bold;
}

.pre-headline,
.button {
	font-family: 'proxima-soft', sans-serif;
}

.pre-headline {
	font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 800;
}

h1 {
	font-weight: 800;
}

h2 {
	line-height: 1em;
	font-size: 44px;
	font-weight: 800;
}

.about-us--team-member-title {
	font-size: 1.125rem;
	font-weight: 800;
	font-family: 'proxima-soft', sans-serif;
	color: #254e89;
}

.text-small {
	font-size: 1rem;
}

.handwriting {
	font-family: 'rollerscript-smooth', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.5rem;
	color: #0088ce;
}

.headline {
	font-size: 4.5rem;
	font-weight: 800;
	line-height: 1em;
	letter-spacing: -1px;
}

.pre-headline {
	text-transform: uppercase;
	font-size: 1.125rem;
	color: #0088ce;
}

.blog-content {
	// padding: 6rem;
}

/* #Get Started
================================================== */

.get-started-hero {
	margin-top: -1rem;
}

.get-started-headline {
	font-size: 4rem;
	line-height: 4.2rem;
	color: #0088ce;
}

.get-started-post-headline {
	font-size: 2rem;
	font-weight: 100;
	line-height: 2.5rem;
	color: #ffffff;
	margin-bottom: 1.2rem;
}

.get-started-disclaimer {
	color: #126f9e;
	font-weight: 800;
	margin-top: 1.5rem;
}

.form-fill {
	color: #0088ce;
	text-align: left;
}

/* # Off Canvas
================================================== */
.off-canvas {
	background: #ffffff;
	color: #ffffff;
	padding: 15px 0;
}

.off-canvas a {
	font-size: 1.5rem;
}

/* # Hubspot Styles
================================================== */
.submitted-message {
	text-align: center;
	background: #00a4bd;
	color: #ffffff;
	padding: 1rem;
	border-radius: 10px;
}

.hubspot-link__container {
	display: none;
}

/* # Sticky Bottom Right CTA
================================================== */
.sticky-cta-bottom-right {
	width: 300px;
	height: 300px;
	text-align: center;
}

/* # Top Bar Sizing
================================================== */
.top-bar a,
.top-bar a.button {
	font-size: 1rem;
}
.menu a,
.menu .button {
	padding: 0.7rem 0.7rem;
}

/* # Single Post
================================================== */

.single-post .single-title {
	font-size: 54px;
	margin-right: 30px;
	font-weight: 700;
	line-height: 1.1;
	margin-top: 0;
	width: 100%;
	margin-bottom: 15px;
	color: #000;
	@media screen and (max-width: 992px) {
		font-size: 35px;
	}
}

/* # Styles the new Blog Index Layout with 3 featued posts up top
================================================== */

.container-featured-posts,
.container-recent-posts {
	margin-bottom: 80px;
}
.container-featured-posts .headline-container,
.container-recent-posts .headline-container {
	margin-bottom: 40px;
}
.featured-post--card {
	margin-bottom: 2rem;
	box-shadow: 10px 0px 50px 0px rgba(0, 0, 0, 0.15);
	border-radius: 3px;
}
.featured-post-link-title-container {
	padding: 0px 20px 20px;
}
a.featured-post-link-title {
	color: inherit;
	font-weight: 600;
}
.post--card {
	margin-bottom: 2rem;
	box-shadow: 10px 0px 50px 0px rgba(0, 0, 0, 0.15);
	border-radius: 3px;
}
.post-link-title-container {
	padding: 0 20px 10px;
}
a.post-link-title {
	color: inherit;
	font-weight: 600;
	font-size: 16px;
}
.pagination {
	padding-top: 40px;
	padding-bottom: 40px;
}

/* # Mobile
================================================== */
/* Small only */
@media screen and (max-width: 39.9375em) {
	body {
		font-size: 1rem;
	}
	section.hero-home {
		text-align: center;
	}
	section.hero-home .orbit {
		margin-bottom: 1rem;
	}
	section.hero-home .orbit-image {
		// border-radius: 3.125rem 0;
	}
	section.hero-home h1 {
		font-size: 3rem;
		letter-spacing: 0;
		text-align: center;
	}
	section.hero--sub-page {
		padding: 3.125rem 0;
	}
	section.how-it-works {
		.hiw-cell.hiw-cell {
			max-width: 350px;
			margin: 0 auto;
		}
	}
	section.how-it-works .steps {
		text-align: left;
		margin-top: 2rem;
	}
	section.how-it-works .steps .step {
		position: relative;
		font-size: inherit;
		top: 0;
		text-shadow: none;
	}
	h2 {
		font-size: 2rem;
	}
	.about-us--team-member-title {
		font-size: 1rem;
	}
	.padded-section {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.testimonials-section .testimonial p,
	.testimonials-section-2 .testimonial p {
		font-size: 1rem;
	}
	.testimonials-section .testimonial-copy,
	.testimonials-section-2 .testimonial-copy {
		padding: 0;
	}
	section.how-it-works.panel--primary {
		border-radius: 0;
		margin-top: 30px;
	}
	.border-styled {
		border-radius: 0 3.125rem;
	}
	.border-styled.small {
		border-radius: 0 1.25rem;
	}
	.featured-in-section-logo {
		height: 17px;
	}
	.pre-headline {
		letter-spacing: 0 !important;
		text-align: center;
		font-size: 1rem !important;
	}
	.headline {
		font-size: 3rem;
	}
	section.how-it-works .headline {
		letter-spacing: 0;
		line-height: 3rem;
		font-size: 3rem;
		line-height: 2rem;
		font-size: 2rem;
	}
	br {
	}
	ul.footer-menu-col {
		margin-bottom: 2rem;
	}
	.switch-back-image {
		margin-bottom: 2rem;
	}
	.reveal {
		border-radius: 0;
	}
	.blog-content {
		padding: 1rem;
		@media screen and (max-width: 900px) {
			padding: 1rem 0;
		}
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
}

/* Large and up */
@media screen and (min-width: 64em) {
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}

// FAQ
section.faq-section {
	.titleblock {
		max-width: 900px;
		margin: 0 auto;
		text-align: center;
		padding: 90px 20px 60px;
	}

	span.sub-headline {
		text-align: center;
		text-transform: uppercase;
		margin: 0 0 10px;
		color: #038ed8;
		font-weight: 600;
		font-family: proxima-soft, sans-serif;
		margin-bottom: 20px;
	}

	h2.sec-title {
		text-align: center;
		font-size: 3.75rem;
		letter-spacing: -1px;
		font-weight: 800;
		line-height: 4.4rem;
		@media screen and (max-width: 992px) {
			line-height: 3rem;
			font-size: 3rem;
		}
	}

	.faq-content {
		display: flex;
		flex-wrap: wrap;
		padding: 0 0 60px;
	}

	.faq-content .q-item {
		display: flex;
		align-items: flex-start;
		border-left: 3px solid #038ed8;
		padding: 0 0 0 20px;
	}

	.faq-content .a-item {
		display: flex;
		align-items: center;
		border-left: 3px solid #eee;
		padding: 0 0 0 20px;
	}

	span.cntx {
		padding: 10px 20px;
		width: 100%;
	}

	.title {
		font-weight: bold;
		display: block;
		width: 45px;
		font-size: 2.5rem;
		font-weight: 100;
		padding: 10px 0 0;
	}

	.container {
		max-width: 75rem;
		margin: 0 auto;
	}

	.block .q-item {
		background: #fbfbfb;
	}

	.block .a-item {
	}

	.block .q-item .title {
		color: #0388cd;
	}

	.block .q-item span.cntx {
		font-family: proxima-soft, sans-serif;
		font-size: 18px;
		font-size: 20px;
		line-height: 22px;
		font-weight: 700;
		padding: 10px 20px;
	}

	.block .a-item .title {
	}

	.block .a-item span.cntx {
		font-size: 16px;
	}

	.block:nth-child(even) {
		padding-left: 20px;
	}

	.block:nth-child(odd) {
		padding-right: 20px;
	}

	.block {
		width: 50%;
		border-bottom: 1px solid #eee;
		padding-top: 20px;
		padding-bottom: 20px;
		margin: 10px 0;

		@media screen and (max-width: 992px) {
			width: 100%;
			padding: 10px;
		}
	}

	span.cntx {
		padding: 5px 20px;
	}
}

section.visit-faq {
	background: #038ed8;
	padding: 120px 20px 60px;

	.container {
		max-width: 75rem;
		margin: 0 auto;
	}

	.content {
		text-align: center;
	}

	h2.sec-title {
		text-align: center;
		font-size: 3.75rem;
		letter-spacing: -1px;
		font-weight: 800;
		line-height: 4.4rem;
		color: #fff;
		margin: 0 0 30px;
		@media screen and (max-width: 992px) {
			line-height: 3rem;
			font-size: 3rem;
		}
	}

	span.sub-headline {
		text-align: center;
		text-transform: uppercase;
		margin: 0 0 10px;
		color: #fff;
		font-weight: 600;
		font-family: proxima-soft, sans-serif;
	}

	.small-block {
		font-size: 12px;
		color: #fff;
		margin: 60px 0 0;
		font-weight: 600;
		letter-spacing: -1px;
	}

	.btn-container {
	}
}

// Locations
.states-box {
	display: flex;
	flex-wrap: wrap;
	margin: 60px 0;
	span.state {
		width: 20%;
		color: #038ed8;
		padding: 5px 10px;
		font-weight: 600;
		@media screen and (max-width: 992px) {
			width: 50%;
		}
	}
}

// section faqs page
section.faq-blocks {
	padding: 60px 0;
	max-width: 100%;

	.faq-blocks {
	}
	.clickmodal:hover,
	.click:hover {
		background: #eee;
	}
	.clickmodal,
	.click {
		padding: 25px 20px;
		box-shadow: 0 0px 15px -4px rgba(0, 0, 0, 0.15);

		border: 1px solid #ececec;
		border-left: 3px solid #038ed8;
		cursor: pointer;
		border-radius: 3px;
		transition: all 0.3s;

		h2.sec-title {
			color: $m;
			display: flex;

			font-size: 26px;
			line-height: 28px;
			font-weight: 600;
			margin: 0;
			font-weight: 600;
			margin: 0;

			span.chevron-arrow {
				margin-left: auto;
				display: flex;
				align-items: center;
				svg {
					width: 30px;
					height: 20px;
					color: #038ed8;
					fill: #038ed8;
					transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
				}
			}
		}
	}

	.clickmodal {
		padding: 0;
		h2.sec-title {
			display: flex;
			align-items: center;
		}
		span.chevron-arrow {
			margin-right: 20px;
		}
	}
	span.tiltelink {
		padding: 25px 20px;
		display: block;
		width: 100%;
	}
	.click.active-faq span.chevron-arrow svg {
		transform: rotate(90deg);
	}

	.container {
		// max-width: 75rem;
		margin-left: auto;
		margin-right: auto;
		padding: 0 20px;
	}

	span.sub-headline {
		font-weight: 600;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #038ed8;
		display: block;
		margin: 0 0 10px;
		font-family: proxima-soft, sans-serif;
		text-align: center;
	}

	.topcontent.content h2.sec-title {
		margin: 0 0 20px;
		font-size: 4.3rem;
		letter-spacing: -1px;
		font-weight: 800;
		line-height: 1em;
		text-align: center;
		@media screen and (max-width: 992px) {
			font-size: 2.7rem;
		}
	}

	.topcontent.content {
		margin: 0 0 60px;
	}
	.faq-block {
		> .block-content {
			opacity: 0;
			visibility: hidden;
			/* display: none; */
			max-height: 0px;
			overflow: hidden;
			transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1);
		}
		> .block-content.active-faq {
			visibility: visible;
			opacity: 1;
			display: block;
			max-height: 400vh;
			overflow: visible;
		}
	}
	.faq-block {
		margin: 0 0 20px;
	}

	.faq-blocks .item-block {
		position: absolute;
		top: 0;
		left: 100%;
		width: 100%;
		visibility: hidden;
		opacity: 0;

		visibility: hidden;
		opacity: 0;
		margin-left: 20px;
		transform: translate(-20px, 0px);
		transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		border: 1px solid #d4d4d4;
		border-radius: 10px;
		overflow: hidden;
		background: #fff;
		@media screen and (max-width: 992px) {
			position: relative;
			top: 0;
			left: 0;
			margin: 0;
			max-height: 0px;
			overflow: hidden;
		}
	}
	.item:hover .item-block {
		// opacity: 1;
		// visibility: visible;
	}

	.faq-blocks .item-block.active-faq {
		opacity: 1;
		visibility: visible;
		box-shadow: 0 10px 20px 0px #00000024;
		border: 1px solid #eee;
		margin-left: 20px;
		border: 1px solid #eee;
		transform: translate(0px, 0px);
		@media screen and (max-width: 992px) {
			margin: 10px 0 20px;
		}
		max-height: 400vh;
		overflow: hidden;
	}

	.faq-blocks {
		.item {
			position: relative;
			margin: 10px 0;
			padding: 0 15px;
		}
	}

	span.title.active-faq span.question-svg {
		opacity: 1;
	}

	.faq-blocks {
		max-width: 45%;
		width: 100%;
		margin-left: 5%;
		@media screen and (max-width: 992px) {
			max-width: 100%;
			margin: 0;
		}
	}

	section.faq-blocks {
	}

	.q-item {
		display: flex;
	}

	.a-item {
		display: flex;
	}

	.faq-blocks .item-block .title {
		width: 50px;
		display: block;
		font-size: 2.5rem;
		line-height: 2rem;
	}

	.faq-blocks .item-block span.cntx {
		width: 100%;
	}
	span.title:hover {
		background: #eee;
	}
	span.title {
		padding: 10px 10px;
		display: flex;
		cursor: pointer;
		color: $m;
		font-family: proxima-soft, sans-serif;
		font-size: 22px;
		line-height: 26px;
		font-weight: 700;

		span.question-svg {
			margin-left: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 0;
			transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
			svg {
				width: 10px;
				height: 15px;
				fill: #038ed8;
			}
		}

		&:hover {
			span.question-svg {
				opacity: 1;
			}
		}
	}

	.topcontent.content {
		display: flex;
		flex-direction: column;
	}

	.content.botcot {
		display: flex;
		@media screen and (max-width: 992px) {
			flex-direction: column;
		}
		.faq-image {
			max-width: 45%;
			width: 100%;
			margin-left: 5%;
			padding: 30px 0 0 60px;
			display: flex;
			flex-direction: column-reverse;
			align-items: flex-end;
			@media screen and (max-width: 992px) {
				max-width: 500px;
				margin: 0 auto 40px;
			}
		}
	}

	.q-item {
		display: flex;
		align-items: flex-start;
		border-left: 3px solid #038ed8;
		padding: 20px 0 10px 20px;
	}
	.q-item {
		position: relative;
	}

	span.close-itcon {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		height: 20px;
		width: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	span.close-itcon img {
		width: 10px;
		height: 10px;
	}

	span.close-itcon:hover {
		border-radius: 50%;
		border: 1px solid #797979;
	}

	.a-item {
		display: flex;
		align-items: flex-start;
		border-left: 3px solid #eee;
		padding: 10px 0 30px 20px;
	}

	.q-item {
		background: #fbfbfb;
	}

	.a-item {
	}

	.q-item .title {
		color: #0388cd;
		padding: 10px 0 0;
	}

	.q-item span.cntx {
		font-family: proxima-soft, sans-serif;
		font-size: 24px;
		line-height: 28px;
		font-weight: 700;
		padding: 0px 20px 10px 5px;
	}

	.a-item .title {
	}

	.a-item span.cntx {
		font-size: 16px;
	}

	.block {
	}

	.block:nth-child(even) {
	}

	.block:nth-child(odd) {
	}

	span.cntx {
		padding: 5px 20px 5px 5px;
	}
}
h3.text-center {
	text-transform: capitalize;
}

section.locations-item {
	span.sub-headline {
		text-align: center;
		text-transform: uppercase;
		margin: 0 0 10px;
		font-weight: 600;
		font-family: proxima-soft, sans-serif;
		color: #038ed8;
		display: block;
	}

	h2.sec-title {
		text-align: center;
		font-size: 3.75rem;
		letter-spacing: -1px;
		font-weight: 800;
		line-height: 4.4rem;
		margin: 0 0 30px;
		@media screen and (max-width: 992px) {
			text-align: center;
			font-size: 2.75rem;
			letter-spacing: -1px;
			font-weight: 800;
			line-height: 3.4rem;
			margin: 0 0 30px;
		}
	}

	.locatios-mainblock {
		display: flex;
		margin: 60px 0 0;
		flex-wrap: wrap;
		max-width: 1300px;
		margin: 60px auto 0;
	}

	.content {
		padding: 60px 20px;
	}

	.locatios-mainblock .location-item {
		width: 50%;
		padding: 20px 20px;
		@media screen and (max-width: 992px) {
			width: 100%;
		}
	}

	.locatios-mainblock .location-item {
		h2.sec-title {
			text-align: left;
			font-size: 2.3rem;
			line-height: 2.4rem;
			color: #038ed8;
			margin: 0 0 5px;
			font-weight: 600;
			&.disclaimer {
				color: #444;
				font-size: 18px;
				line-height: 20px;
				text-align: center;
				margin-top: 30px;
			}
		}
	}
	.locatios-mainblock .location-item span.desc-item {
		display: block;
		span.desc-item {
		}

		a.rx-btn {
			width: 100%;
			margin: 10px 0 0;
		}
	}
}
