// @import '~foundation-sites/scss/foundation.scss';

// @import 'currentfoundation.scss';

// @import '~foundation-sites/scss/foundation';

// topbar
.promo-bar {
	background-color: #1f4f8b;
	padding: 10px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
	// background-image: url(https://images.pexels.com/photos/5412/water-blue-ocean.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-size: cover;
	background-position: left;
}

.promo-bar a {
	color: #fff;
	margin: 0 auto;
	font-size: 14px;
	font-weight: 600;
	display: block;
	line-height: 1.3rem;
}

.promo-bar span.button.hollow.small {
	margin: 0 0 0 30px;
	color: #fff;
	border-color: #fff;
	background-color: transparent;
	padding: 5px 20px;
	@media screen and (max-width: 992px) {
		display: none;
	}
}
img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
.promo-bar span.phone.hide-for-small-only {
}

.item-container {
}

.promo-bar span.button.hollow.small:hover {
	background: #fff;
	color: #038ed8;
}
// header
header.main.fixedmain {
	background-color: #fff;
	box-shadow: 0 0.5rem 2rem -0.5rem rgba(0, 0, 0, 0.07), 0 0.25rem 2rem 0 rgba(0, 0, 0, 0.07);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	padding: 0px  0;
	.content {
		background: #fff;
		padding: 15px ​30px;
	}
}
header.main {
	padding: 20px 20px 0;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 123123123;
	top: 0;
	transition: all 0.3s;
	@media screen and (max-width: 992px) {
		padding: 0;
		background-color: #fff;
	}
	.content {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		transition: all 0.3s;

		// border-radius: 50px;
		// box-shadow: 0 0.2rem 0.5rem 0 rgba(4, 142, 218, .30), 0 -0.2rem 0.5rem -2.5rem rgba(4, 142, 218,  .50);
		// box-shadow: 0 .5rem 2rem -0.5rem rgba(0, 0, 0, .02), 0 0.25rem 2rem 0 rgba(0, 0, 0, .02);
		// 0 0.5rem 2rem -0.5rem rgb(0 0 0 / 2%), 0 0.25rem 2rem 0 rgb(0 0 0 / 2%)
		// background-color: #FFFFFF;
		padding: 20px 30px;

		@media screen and (max-width: 992px) {
			padding:  0;
			flex-direction: row-reverse;
		}
		.rlcontainer {
			@media screen and (max-width: 992px) {
				width: 100%;
			display: flex;
			flex-direction: row-reverse;
			position: relative;
			background: #fff;
			padding: 30px 10px;
			z-index: 123;
			}
		}
	}

	.responsive-bar {
		position: relative;
		display: none;
		@media screen and (max-width: 992px) {
			display: block;
			position: relative;
			margin-left: auto;
			margin-right: 10px;
		}
		a.menu-icon-toggle {
			position: relative;
			top: 0;
			left: 0;
			font-weight: 700;
			color: #192d3e;
			font-size: 1.3rem;
			padding-right: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row;
			svg {
				width: 20px;
				height: 20px;
				margin-right: 15px;
			}
		}
	}
	.logo-block {
		@media screen and (max-width: 992px) {
			// margin-left: 20px;
		}
	}
	a.main-nav-logo {
		max-width: 158px;
		position: relative;
		display: block;
		figure.sk {
			margin: 0;
		}
	}

	nav.top {
		margin-left: auto;
		transition: all 0.7s cubic-bezier(0.22, 1, 0.36, 1);
		width: 100%;
		padding-left: 30px;
		

		@media screen and (max-width: 992px) {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			background: #eee;
			opacity: 0;
			visibility: hidden;
			background: #1f4f8b;
			margin-top: 10px;

			padding: 0;
			margin: 0 -10px;
			width: auto;

			max-height: 0px;
			transform: translate(0px, -20px);
			overflow: hidden;
		}
		&.active-menu {
			visibility: visible;
			opacity: 1;
			max-height: 100vh;
			transform: translate(0px, 0px);
		}
		li.buttonfill {
			margin-left: auto;
			@media screen and (max-width: 992px) {
				margin: 0;
				padding: 0 10px;
				min-width: 100%;
			}
		}
	}

	ul.nav {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		@media screen and (max-width: 992px) {
			flex-direction: column;
			padding: 20px 10px 40px;
		}
	}

	ul.nav {
		a {
			padding: 0.8rem 0.8rem 0;
			color: #192d3e;
			font-size: 0.9rem;
			// border-radius: 5px;
			display: block;
			margin: 0;
			border-bottom: 1px solid transparent;
			cursor: pointer;
			position: relative;
			font-family: $fontround;
			transition: all 0.3s;
			&:after {
				content: close-quote;
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				background: #1f88ca;
				height: 2px;
				width: 0%;
				transition: all 0.3s;
				margin: 0 auto;
			}

			&:hover:after {
				width: 100%;
			}

			&:hover {
				background: transparent;
				// border-bottom: 2px solid #048eda;
				// padding-bottom: 8px;
				@media screen and (max-width: 992px) {
					// color: #1f4f8b;
				}
			}
			@media screen and (max-width: 992px) {
				color: #fff;
				font-size: 1.5rem;
				padding: 10px 20px;
			}
		}
	}

	ul.nav a.button.secondary.rounded.shadow {
		margin: 0px;
		border-radius: 30px;
		color: #fff;
		margin-left: 20px;

		border-radius: 35px;
		color: #fff;
		margin: 0 0 0 20px;
		background-color: #008eda;
		color: #fff;
		padding: 15px 35px;
		display: flex;
		border: none;
		background-color: transparent;
		position: relative;
		overflow: hidden;
		border: 1px solid rgba(31, 136, 202, 0.75);
		z-index: 123;
		font-size: 12px;

		@media screen and (max-width: 992px) {
			margin: 20px 0 0;
			padding: 15px 25px;
			font-size: 3.5vw;
		}

		&::before {
			content: close-quote;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(31, 136, 202, 1);
			background-image: linear-gradient(-180deg, hsla(0, 0%, 100%, 0.1), rgba(0, 0, 0, 0.1));
			z-index: -1;
			transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
		}

		&::after {
			content: close-quote;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($color: #fff, $alpha: 0.5);
			background: linear-gradient(
				90deg,
				rgba(255, 255, 255, 0) 0%,
				rgba(255, 255, 255, 0.5172443977591037) 20%,
				rgba(255, 255, 255, 1) 50%,
				rgba(255, 255, 255, 0.5144432773109244) 79%,
				rgba(255, 255, 255, 0) 100%
			);

			background-image: linear-gradient(-180deg, hsla(0, 0%, 100%, 0.1), rgba(0, 0, 0, 0.1));
			z-index: -1;
			transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
			transform: translateX(-100%);
		}

		&.active {
			// color: #008ed8;
			box-shadow: 0 5px 10px -1px rgba(31, 136, 202, 0.34);
			border: 1px solid rgba(#33a532, 0.75);
			&::after {
				width: 100%;
				transform: translateX(100%);
			}
			&::before {
				background-color: #33a532;
			}
		}
		&:hover {
			// color: #008ed8;
			box-shadow: 0 5px 10px -1px rgba(31, 136, 202, 0.34);
			border: 1px solid rgba(#008eda, 0.75);
			&::after {
				width: 100%;
				transform: translateX(100%);
			}
			&::before {
				background-color: darken($color: #008eda, $amount: 20);
			}
		}
	}
}

.h1,
.h2,
h1,
h2 {
	margin-bottom: 1rem;
}

/* # Top Bar and Title Bar
================================================== */
.top-bar {
	font-size: 1.125rem;
	font-family: $fontround;
	padding: 30px 20px;
}
.top-bar .main-nav-logo {
	width: 158px;
	float: left;
	margin-right: 20px;
	position: relative;
	top: 3px;
}
.top-bar .button {
	font-size: 1rem;
}
.top-bar a {
	color: #192d3e;
}
.top-bar a.button {
	color: #ffffff;
	font-size: 1.125rem;
	margin-left: 1.25rem;
}

.top-bar,
.top-bar ul {
	background: #ffffff;
}

.title-bar {
	display: none;
	padding: 1.5em;
	position: relative;
	background: transparent;
}
.title-bar .main-nav-logo {
	width: 150px;
}

/* # Home Hero
================================================== */
body.page-template.page-template-refill-and-transfer-prescriptions section.hero-home {
	.content h1.hiw-title {
		font-size: 2.1rem;
		text-align: center;
		@media screen and (max-width: 992px) {
			font-size: 1.3rem;
			font-size: 10vw;
		}
	}
	.testimonial-block {
		margin-top: -470px;
		@media screen and (max-width: 992px) {
			margin-top: -0;
			display: none;
		}
	}
	.pageform iframe {
		max-width: 100%;
	}
	.content span.sub-headline {
		white-space: normal;
		font-size: 13px;
		text-align: center;
		text-transform: initial;
		@media screen and (max-width: 992px) {
			font-size: 10px;
			font-size: 3vw;
		}
	}
}

section.hero-home {
	padding: 58px 0 0px;
	position: relative;
	margin: 150px 0 0;

	@media screen and (max-width: 992px) {
		padding: 90px 0 20px;
		margin: 95px 0 0;
	}

	&.refillstation .content {
		span.sub-headline {
			@media screen and (max-width: 992px) {
				font-size: 10px;
			}
		}
		@media screen and (max-width: 992px) {
			flex-direction: column;
		}
		.column-half.content-col {
			padding-right: 50px;
			@media screen and (max-width: 992px) {
				padding: 30px 0 60px;
			}
		}

		.column-half.image-col {
			.imageblock {
				@media screen and (max-width: 992px) {
					display: none;
				}
			}
		}
	}

	img.imageblock {
		margin: 0;
		max-width: 380px;
		position: absolute;
		top: 0;
		left: 0;

		@media screen and (min-width: 992px) {
			border-radius: 0 5px 5px 0;
		}

		@media screen and (max-width: 992px) {
			margin: 0 0 30px;
		}
		@media screen and (max-width: 700px) {
			margin: 0 0 30px;
			max-width: 100%;
			width: 100%;
		}
	}
	.content {
		display: flex;
		align-items: center;
		@media screen and (max-width: 992px) {
			flex-direction: column-reverse;
		}

		span.sub-headline {
			font-weight: 900;
			letter-spacing: 0px;
			color: #038ed8;
			display: block;
			margin: 0 0 10px;
			white-space: nowrap;
			text-transform: uppercase;
			font-family: $fontround;
			font-size: 1.1rem;
			@media screen and (max-width: 992px) {
				font-size: 12px;
				font-size: 3.2vw;
			}
		}

		.column-half {
			&.content-col {
				width: 60%;
				max-width: 52vw;
				padding: 40px 80px 40px 0;
				@media screen and (max-width: 992px) {
					max-width: 100%;
				}
			}

			&.image-col {
				width: 70%;

				width: 50%;
				// min-height: 500px;
				// min-height: 600px;
				display: flex;
				align-items: center;
				justify-content: center;

				@media screen and (max-width: 1200px) {
					width: 40%;
				}
				@media screen and (max-width: 992px) {
					width: 100%;
					max-width: 100%;
				}
			}

			&.content-col {
				@media screen and (max-width: 1200px) {
					width: 60%;
				}
				@media screen and (max-width: 992px) {
					width: 100%;
					// padding: 30px 0 60px;
					padding: 0;

					text-align: center;
					// max-width: 500px;
					margin: 0 auto;
				}
			}
		}
		.btn-container {
			margin: 30px -10px 0;

			@media screen and (max-width: 700px) {
				margin: 30px 0 0;
			}
		}
		h1 {
			margin: 0 0 20px;
			font-size: 3.3rem;
			// letter-spacing: -1px;
			font-weight: 800;
			line-height: 1.15;
			letter-spacing: -0.1rem;

			&.hiw-title {
				// font-size: 3.6rem;
				@media screen and (max-width: 992px) {
					font-size: 9.4vw;
					margin: 0 0 20px;
				}
			}

			@media screen and (max-width: 992px) {
				font-size: 10.2vw;
				margin: 0 0 20px;
				font-size: calc(34px + 6 * ((100vw - 320px) / 680));
				padding: 0 5px;
			}
		}
		a.alink {
			color: #008ed8;
		}
		p {
			@media screen and (max-width: 992px) {
				max-width: 700px;
				margin: 0 auto;
			}
		}
	}
	.orbit-image {
		height: 100%;
		object-fit: cover;
		object-position: center;
		width: 100%;
		display: block;
		min-height: 50vh;
		border-radius: 30px 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		max-height: 500px;
		width: 45%;
		right: 0;
		// box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), 0 0 15px 0 rgba(0, 0, 0, 0.02), 0 0 20px 4px rgba(0, 0, 0, 0.06);

		@media screen and (max-width: 1200px) {
			min-height: 45vh;
			width: 40%;
		}
		@media screen and (max-width: 992px) {
			min-height: 0px;
			// max-height: 480px;
			position: relative;
			top: 0;
			transform: none;
			max-width: 100%;
			width: 100%;
			display: none;
		}
	}

	.container {
		max-width: 75rem;
		margin-left: auto;
		margin-right: auto;
		padding: 0 20px;
		@media screen and (max-width: 992px) {
			padding: 0 10px;
		}
	}
}

/* # Panel - Reversed
================================================== */
section.how-it-works {
	padding: 90px 0;

	.image.quatroimg {
		background: #fff;
		border-radius: 50%;
		width: 120px;
		height: 120px;
		display: flex;
		padding: 30px;
		margin: 20px auto;
		align-items: center;
	}

	.image.quatroimg img {
		max-height: 110px;
		max-width: 70px;
	}

	.tellink {
		color: #fff;
	}
	.image {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 20px 0;

		img {
			max-width: 110px;
		}
	}
}
section.how-it-works .hiw-cell {
	padding: 30px 30px 0;
	max-width: 500px;
	margin: 0 auto;
}

section.how-it-works.panel--primary.quatro {
	.hiw-cell {
		padding: 30px 20px 0;
		@media screen and (max-width: 992px) {
			padding: 30px 0 0;
		}
	}

	h3.padding-bottom-3 {
		font-size: 22px;
	}
}

section.how-it-works .pre-headline {
	font-size: 1.125rem;
	color: #ffffff;
}
section.how-it-works .headline {
	text-align: center;
	font-size: 3.3rem;
	letter-spacing: -1px;
	font-weight: 800;
	line-height: 4.4rem;
}
section.how-it-works h3 {
	font-size: 1.275rem;
	font-weight: 700;
	position: relative;
	@media screen and (max-width: 992px) {
		text-align: center;
		font-size: 1rem;
	}
}
section.how-it-works .steps {
	text-align: center;
}
section.how-it-works .step {
	font-size: 50px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: -80px;
	opacity: 1;
	text-shadow: 0px 4px rgba(0, 0, 0, 0.15);
}
section.how-it-works.panel--primary {
	background-color: #0088ce;
	color: #ffffff;
	// border-radius: 80px 0;
}
section.how-it-works.panel--primary p {
	// font-size: 1.1875rem;
	@media screen and (max-width: 992px) {
		text-align: center;
		font-size: 0.9rem;
	}
	a {
		text-decoration: underline;
	}
}
section.how-it-works.panel--primary.panel--cta {
	// background: #0088ce url('../images/cta-background-dots.svg') no-repeat;
	background-position: center bottom;
	background-size: 410px;
	padding-bottom: 0;
}
section.how-it-works.panel--primary.panel--cta--doctors {
	// background: #0088ce url('../images/cta-background-dots.svg') no-repeat;
	background-position: center bottom;
	background-size: 410px;
}
section.how-it-works.panel--primary .button {
	background-color: #254e89;
	margin: 10px 0 80px;
	// text-transform: uppercase;
	font-size: 1rem;
	// padding: 20px 30px;
	padding: 15px 30px;
	min-width: 240px;
	&:hover {
		background-color: #33a532;
	}
	@media screen and (max-width: 992px) {
		margin: 10px 0 90px;
	}
}
section.how-it-works.panel--primary {
	.prescription {
		max-width: 870px;
		margin: 0 auto;
	}
	small {
		font-weight: 100;
		line-height: 14px;
		display: block;
		font-size: 12px;
		letter-spacing: -1px;
	}
}

@media screen and (max-width: 992px) {
	section.how-it-works .hiw-cell {
		padding: 30px 30px;
	}
}

/* # Button
================================================== */
.button {
	font-size: 1.25rem;
	border-radius: 30px;
}
.button.shadow {
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
.button.secondary {
	background: #d0103a;
}
.button.secondary:hover {
	background: #d0103a;
}

/* # Hero - Subpage
================================================== */
section.hero--sub-page {
	padding: 0;
	margin-top: 140px;
}
section.hero--sub-page h1 {
	// margin-bottom: 2.5rem;
}
.page-template-page-get-started section.hero--sub-page h1 {
	margin-bottom: 1rem;
}
.page-template-page-locations section.hero--sub-page h1 {
	margin-bottom: 0;
}

/* # Hello Bar
================================================== */
.hello-bar {
	color: #ffffff;
	background: #00a4bd;
	-webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
	height: 55px;
	font-size: 1rem;
	font-weight: 600;
	display: block;
	line-height: 55px;
	position: relative;
}
.hello-bar .button.hollow {
	position: relative;
	top: 8px;
	border-color: #ffffff;
	color: #ffffff;
}
.hello-bar .phone {
	display: flex;
	margin-right: 30px;
	position: relative;
	right: 0;
	top: 0;
	align-self: flex-end;
	margin-left: auto;
	margin: 0;
}
.hello-bar a {
	color: inherit;
	margin: 0 auto;
}

/* # Global Padding
================================================== */
.padded-section {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

.margin-bottom {
	margin-bottom: 2.5rem;
}

.margin-top {
	margin-top: 2.5rem;
}

/* # Borders
================================================== */
.border-styled {
	border-radius: 0 5rem;
}

.border-styled.small {
	border-radius: 0 3.125rem;
}

/* # Footer
================================================== */
.footer {
	padding: 60px 0 0;
	@media screen and (max-width: 992px) {
		padding-bottom: 150px;
		.grid-padding-x > .cell {
			padding: 0;
		}
	}
}
.footer .text-small {
	font-size: 0.875rem;
}
.footer .logo {
	width: 122px;
}
.footer a {
	color: #192d3e;
}
.footer .menu a {
	padding-left: 0px;
	font-weight: normal;
}
.footer .disclaimer {
	margin-top: 2rem;
	font-size: 0.875rem;
	color: #999;
}
.footer .disclaimer hr {
	border-bottom: 1px solid #e5e5e5;
}
.footer h4 {
	font-family: $fontround;
	font-weight: 800;
	color: #254e89;
	font-size: 1rem;
}

/* # Testimonials
================================================== */
.testimonials-section {
	padding: 10px 0px 30px;
}

.testimonials-section .testimonial {
	padding: 50px 0px 15px;
}

.testimonials-section .testimonial p {
	font-size: 1.25rem;
}

.testimonials-section .testimonial-image {
	position: relative;
}

.testimonials-section .testimonial-copy {
	padding-left: 2rem;
}

.testimonials-section .testimonial cite {
	font-size: 1em;
	font-style: normal;
}

.testimonials-section-2 {
	background: #e5f3fa;
	margin-top: 3rem;
	padding: 10px 0px 30px;
}

.testimonials-section-2 .testimonial {
	padding: 50px 0px 15px;
}

.testimonials-section-2 .testimonial p {
	font-size: 1.25rem;
}

.testimonials-section-2 .testimonial-image {
	position: relative;
}

.testimonials-section-2 .testimonial-copy {
	padding-left: 2rem;
}

.testimonials-section-2 .testimonial cite {
	font-size: 1em;
	font-style: normal;
}
/*
.testimonials-section-2 .orbit-bullets button {
  width: .5rem;
  height: .5rem;
  background-color: #e5f3fa;
} */

#get-started-carousel .get-started-bullets.is-active {
	background-color: #737373;
}

#get-started-carousel .get-started-bullets {
	width: 3rem;
	height: 0.25rem;
	background-color: #ced4db;
	border-radius: 1rem;
	cursor: pointer;
}

.get-started-bullets.is-active {
	background-color: #616161;
}

.testimonials-main,
.disclaimer-main {
	margin-top: 1rem;
}

.testimonial-image-wrapper {
	position: relative;
}

.testimonial-image {
	z-index: 1;
	position: relative;
}

.testimonial-image-background {
	border: 2px solid #ccc;
	background: #eee;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0.8rem;
	left: 0.8rem;
}

.testimonials-area h4 {
	font-size: 2rem;
	font-weight: 100;
	text-align: left;
	color: #126f9e;
}

.testimonials-carousel-title h4 {
	color: #d0103a;
}

.testimonial-copy p,
.testimonial-copy cite {
	font-size: 1.2rem;
	line-height: 1.5rem;
	text-align: left;
}

.testimonials-area {
	margin-bottom: 1rem;
}

/* # Hubspot Form
================================================== */

form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b input[type='text'],
form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b input[type='tel'],
form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b input[type='email'],
form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b textarea {
	width: 100%;
}

form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b textarea {
	border: 0.15rem solid #0088ce;
	height: 7rem;
	font-size: 1.2rem;
	resize: none;
}

@media (min-width: 481px) {
	form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b .hs-form-field.hs-firstname,
	form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b .hs-form-field.hs-lastname {
		width: calc(50% - 0.5rem);
	}

	form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b .hs-firstname {
		margin-right: 0.5rem;
	}

	form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b .hs-lastname {
		margin-left: 0.5rem;
	}
}

form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b .input {
	margin-right: 0;
}

form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b ul.inputs-list {
	margin-left: 0;
	margin-bottom: 0.5rem;
	list-style-type: none;
}

form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b input[type='text'],
form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b input[type='tel'],
form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b input[type='email'] {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0.15rem solid #0088ce;
	box-shadow: none;
	padding: 0.5rem 0;
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.hs_firstname label,
.hs_lastname label,
.hs_phone label,
.hs_email label,
.hs_city label {
	display: none;
}

.hs_firstname::-webkit-input-placeholder::before {
	color: #666;
	content: 'Line 1\A Line 2\A Line 3\A';
}

.hs_switch_to_nowrx_pharmacy label {
	font-size: 1.2rem;
	line-height: 1.5rem;
	display: flex;
	margin-bottom: 1rem;
}

.hs_switch_to_nowrx_pharmacy > label,
.hs_message_to_nowrx > label {
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: #126f9e;
}

.hs_message_to_nowrx > label {
	margin-bottom: 1rem;
}

.hs_switch_to_nowrx_pharmacy > label {
	margin-bottom: 1rem;
}

.hs_switch_to_nowrx_pharmacy input[type='checkbox'] {
	-webkit-appearance: none;
	background-color: #c7d0d7;
	padding: 0.75rem;
	display: inline-block;
	position: relative;
	margin-bottom: 0;
	max-height: 26px;
}

.hs_switch_to_nowrx_pharmacy input[type='checkbox']:focus {
	outline: none;
	outline-style: none;
}

.hs_switch_to_nowrx_pharmacy span {
	margin: auto 0;
}

.hs_switch_to_nowrx_pharmacy input[type='checkbox']:checked {
	background-color: #0088ce;
	color: #fff;
}

.hs_switch_to_nowrx_pharmacy input[type='checkbox']:after {
	content: '✕';
	font-size: 1rem;
	position: absolute;
	color: #fff;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hs_switch_to_nowrx_pharmacy input[type='checkbox']:checked:after {
	opacity: 1;
}

form#hsForm_07939729-ecdf-4ea3-8cd5-56e0d491b44b input[type='submit'] {
	display: inline-block;
	vertical-align: middle;
	padding: 0.75em 2em;
	border: 1px solid transparent;
	border-radius: 0;
	-webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
	font-family: inherit;
	-webkit-appearance: none;
	line-height: 1;
	text-align: center;
	cursor: pointer;
	background-color: #27cc00;
	color: #ffffff;
	border-radius: 8px;
}

label.hs-error-msg {
	background: #ff494941;
	color: #a01616;
	width: fit-content;
	padding: 0.25rem 0.5rem;
	border-radius: 1rem;
	font-size: 0.75rem;
	line-height: 1rem;
	margin-bottom: 1rem;
}

/* # Featured In Logos
================================================== */
.featured-in-section {
	// background: #ffffff;
	padding: 30px 0 10px;

	@media screen and (max-width: 992px) {
		display: none;
	}

	h2.title {
		font-size: 1rem;
		margin: 0 0 -10px;
		color: #737373;
	}
	.icons {
		max-width: 90vw;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
	}
}

.featured-in-section p {
	margin-bottom: 0px;
}
.featured-in-section-logo {
	padding: 0 20px;
	height: auto;
	width: auto;
	max-width: 220px;
	max-height: 100px;
	margin: 0 1.7%;
	@media screen and (max-width: 1200px) {
		margin: 10px 0;
	}
	@media screen and (max-width: 992px) {
		margin: 10px 20px;
	}
}

/* # Modal - Reveal
================================================== */
.reveal {
	border: none;
	-webkit-box-shadow: 0px 20px 40px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 20px 40px 1px rgba(0, 0, 0, 0.25);
	border-radius: 0 30px;
	max-height: 90vh;
	overflow-y: scroll;
}

.reveal-overlay {
	background-color: rgba(37, 78, 137, 0.95);
}

.slide-in-down.mui-enter.mui-enter-active,
.slide-out-up.mui-leave.mui-leave-active {
	-webkit-transition-duration: 100ms;
	transition-duration: 100ms;
}

/* # NowRx In The News
================================================== */
section.in-the-news {
	padding: 5.625rem 0;
	.large-4.cell {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
}
section.in-the-news img {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	width: 100%;
	border-radius: 0 5rem;
	margin: 1.25rem auto 0;
	@media screen and (max-width: 992px) {
		border-radius: 0 15px;
	}
}
section.in-the-news a {
	color: inherit;
}
section.in-the-news h3 {
	font-weight: 600;
	font-size: 1.25rem;
}
section.in-the-news {
	text-align: center;
	font-size: 3.3rem;
	letter-spacing: -1px;
	font-weight: 800;
	line-height: 4.4rem;
	@media screen and (max-width: 992px) {
		line-height: 3rem;
		font-size: 3rem;
	}
}

/* # Careers
================================================== */
.accordion-title {
	font-size: 1.5rem;
	font-weight: bold;
}

.pre-headline,
.button {
	font-family: $fontround;
}

.pre-headline {
	font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 800;
}

h1 {
	font-weight: 800;
}

h2 {
	line-height: 1em;
	font-size: 44px;
	font-weight: 800;
}

.h6,
h6 {
	font-size: 1rem;
}
.h5,
h5 {
	font-size: 1.25rem;
}
.h4,
h4 {
	font-size: calc(1.275rem + 0.3vw);
}
.h3,
h3 {
	font-size: calc(1.3rem + 0.6vw);
}
.h2,
h2 {
	font-size: 2rem;
	@media screen and (max-width: 992px) {
		font-size: 1.5rem;
	}
}
.h1,
h1 {
	font-size: 2.5rem;
	line-height: 1em;
}

.about-us--team-member-title {
	font-size: 1.125rem;
	font-weight: 800;
	font-family: $fontround;
	color: #254e89;
}

.text-small {
	font-size: 1rem;
}

.handwriting {
	font-family: 'rollerscript-smooth', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.5rem;
	color: #0088ce;
}

.headline {
	font-size: 3.3rem;
	font-weight: 800;
	line-height: 1em;
	letter-spacing: -1px;
}

.pre-headline {
	text-transform: uppercase;
	font-size: 1.125rem;
	color: #0088ce;
}

.blog-content {
	// padding: 6rem;
}

/* #Get Started
================================================== */

.get-started-hero {
	margin-top: -1rem;
}

.get-started-headline {
	font-size: 4rem;
	line-height: 4.2rem;
	color: #0088ce;
}

.get-started-post-headline {
	font-size: 2rem;
	font-weight: 100;
	line-height: 2.5rem;
	color: #ffffff;
	margin-bottom: 1.2rem;
}

.get-started-disclaimer {
	color: #126f9e;
	font-weight: 800;
	margin-top: 1.5rem;
}

.form-fill {
	color: #0088ce;
	text-align: left;
}

/* # Off Canvas
================================================== */
.off-canvas {
	background: #ffffff;
	color: #ffffff;
	padding: 15px 0;
}

.off-canvas a {
	font-size: 1.5rem;
}

/* # Hubspot Styles
================================================== */
.submitted-message {
	text-align: center;
	background: #00a4bd;
	color: #ffffff;
	padding: 1rem;
	border-radius: 10px;
}

.hubspot-link__container {
	display: none;
}

/* # Sticky Bottom Right CTA
================================================== */
.sticky-cta-bottom-right {
	width: 300px;
	height: 300px;
	text-align: center;
}

/* # Top Bar Sizing
================================================== */
.top-bar a,
.top-bar a.button {
	font-size: 1rem;
}
.menu a,
.menu .button {
	padding: 0.7rem 0.7rem;
}

/* # Single Post
================================================== */

.single-post .single-title {
	font-size: 2.5rem;
	margin-right: 30px;
	font-weight: 700;
	line-height: 1.2;
	margin-top: 0;
	width: 100%;
	margin-bottom: 15px;
	color: #000;
	@media screen and (max-width: 992px) {
		font-size: 1.5rem;
	}
}

/* # Styles the new Blog Index Layout with 3 featued posts up top
================================================== */

.container-featured-posts,
.container-recent-posts {
	margin-bottom: 80px;
}
.container-featured-posts .headline-container,
.container-recent-posts .headline-container {
	margin-bottom: 40px;
}
.featured-post--card {
	margin-bottom: 2rem;
	box-shadow: 10px 0px 50px 0px rgba(0, 0, 0, 0.15);
	border-radius: 3px;
}
.featured-post-link-title-container {
	padding: 0px 20px 20px;
}
a.featured-post-link-title {
	color: inherit;
	font-weight: 600;
}
.post--card {
	margin-bottom: 2rem;
	box-shadow: 10px 0px 50px 0px rgba(0, 0, 0, 0.15);
	border-radius: 3px;
}
.post-link-title-container {
	padding: 0 20px 10px;
}
a.post-link-title {
	color: inherit;
	font-weight: 600;
	font-size: 16px;
}
.pagination {
	padding-top: 40px;
	padding-bottom: 40px;
}

/* # Mobile
================================================== */
/* Small only */
@media screen and (max-width: 39.9375em) {
	body {
		font-size: 1rem;
	}
	section.hero-home {
		text-align: center;
	}
	section.hero-home .orbit {
		margin-bottom: 1rem;
	}
	section.hero-home .orbit-image {
		// border-radius: 3.125rem 0;
	}
	section.hero-home h1 {
		font-size: 3rem;
		letter-spacing: 0;
		text-align: center;
	}
	section.hero--sub-page {
		padding: 0;
	}
	section.how-it-works {
		.hiw-cell.hiw-cell {
			max-width: 350px;
			margin: 0 auto;
			@media screen and (max-width: 992px) {
				max-width: 100%;
				padding: 20px 0;
			}
		}
	}
	section.how-it-works .steps {
		text-align: left;
		margin-top: 2rem;
	}
	section.how-it-works .steps .step {
		position: relative;
		font-size: inherit;
		top: 0;
		text-shadow: none;
	}
	h2 {
		// font-size: 2rem;
	}
	.about-us--team-member-title {
		font-size: 1rem;
	}
	.padded-section {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.testimonials-section .testimonial p,
	.testimonials-section-2 .testimonial p {
		font-size: 1rem;
	}
	.testimonials-section .testimonial-copy,
	.testimonials-section-2 .testimonial-copy {
		padding: 0;
	}
	section.how-it-works.panel--primary {
		border-radius: 0;
		margin-top: 30px;
	}
	.border-styled {
		border-radius: 0 3.125rem;
	}
	.border-styled.small {
		border-radius: 0 1.25rem;
	}
	.featured-in-section-logo {
		height: 17px;
	}
	.pre-headline {
		letter-spacing: 0 !important;
		text-align: center;
		// font-size: 1rem !important;
	}
	.headline {
		font-size: 2rem;
		margin: 0;
	}
	section.how-it-works .headline {
		letter-spacing: 0;
		line-height: 11vw;
		font-size: 10vw;
	}
	br {
	}
	ul.footer-menu-col {
		margin-bottom: 2rem;
	}
	.switch-back-image {
		margin-bottom: 2rem;
	}
	.reveal {
		border-radius: 0;
	}
	.blog-content {
		padding: 1rem;
		@media screen and (max-width: 900px) {
			padding: 1rem 0;
		}
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
}

/* Large and up */
@media screen and (min-width: 64em) {
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}

// FAQ
section.faq-section {
	.titleblock {
		max-width: 900px;
		margin: 0 auto;
		text-align: center;
		padding: 90px 20px 60px;
	}

	span.sub-headline {
		text-align: center;
		text-transform: uppercase;
		margin: 0 0 10px;
		color: #038ed8;
		font-weight: 600;
		margin-bottom: 20px;
	}

	h2.sec-title {
		text-align: center;
		font-size: 3.45rem;
		letter-spacing: -1px;
		font-weight: 800;
		line-height: 4.4rem;
		@media screen and (max-width: 992px) {
			line-height: 3rem;
			font-size: 2.2rem;
			line-height: 11vw;
			font-size: 10vw;
		}
	}

	.faq-content {
		display: flex;
		flex-wrap: wrap;
		padding: 0 0 60px;
	}

	.faq-content .q-item {
		display: flex;
		align-items: flex-start;
		border-left: 3px solid #038ed8;
		padding: 0 0 0 20px;
		// align-items: center;
	}

	.faq-content .a-item {
		display: flex;
		align-items: flex-start;
		border-left: 3px solid #eee;
		padding: 0 0 0 20px;
	}

	span.cntx {
		padding: 10px 20px;
		width: 100%;
	}

	.title {
		font-weight: bold;
		display: block;
		width: 48px;
		font-size: 2.2rem;
		padding: 10px 0 0;

		@media screen and (max-width: 992px) {
			font-size: 1.3rem;
			padding: 0;
		}
	}

	.container {
		max-width: 75rem;
		margin: 0 auto;
	}

	.block .q-item {
		background: #fbfbfb;
	}

	.block .a-item {
	}

	.block .q-item .title {
		color: #0388cd;
	}

	.block .q-item span.cntx {
		font-size: 1.3rem;
		line-height: 1.3;
		font-weight: 700;
		padding: 20px 20px;
		@media screen and (max-width: 992px) {
			font-size: 1rem;
		}
	}

	.block .a-item .title {
	}

	.block .a-item span.cntx {
		font-size: 16px;
	}

	.block:nth-child(even) {
		padding-left: 20px;
	}

	.block:nth-child(odd) {
		padding-right: 20px;
	}

	.block {
		width: 50%;
		border-bottom: 1px solid #eee;
		padding-top: 20px;
		padding-bottom: 20px;
		margin: 10px 0;

		@media screen and (max-width: 992px) {
			width: 100%;
			padding: 10px;
		}
	}

	span.cntx {
		padding: 15px 20px;
	}
}

section.visit-faq {
	background: #038ed8;
	padding: 70px 20px 60px;
	@media screen and (max-width: 992px) {
		padding: 70px 10px 60px;
	}
	&.refillfaq {
		@media screen and (max-width: 992px) {
			padding: 60px 20px 60px;
		}

		span.sub-headline {
			@media screen and (max-width: 992px) {
				font-size: 11px;
			}
		}
		h2.sec-title {
			@media screen and (max-width: 992px) {
				line-height: 3rem;
				font-size: 3rem;
				margin-bottom: 30px;
			}
		}
		.small-block {
			@media screen and (max-width: 992px) {
				font-size: 13px;
				color: #fff;
				margin: 30px 0 0;
				font-weight: 600;
				letter-spacing: -1px;
			}
		}
	}
	a {
		color: #fff;
	}
	p {
		color: #fff;
		margin: 0 0 30px;
	}
	.container {
		max-width: 75rem;
		margin: 0 auto;
	}

	.content {
		text-align: center;
	}

	h2.sec-title {
		text-align: center;
		font-size: 3.3rem;
		letter-spacing: -1px;
		font-weight: 800;
		line-height: 4.4rem;
		color: #fff;
		// margin: 0 0;

		@media screen and (max-width: 992px) {
			line-height: 11vw;
			font-size: 10vw;
			margin: 20px 0;
		}
	}

	span.sub-headline {
		text-align: center;
		text-transform: uppercase;
		margin: 0 0 10px;
		color: #fff;
		font-weight: 600;
		@media screen and (max-width: 992px) {
			font-size: 11px;
			font-size: 9px;
		}
	}

	.small-block {
		font-size: 12px;
		color: #fff;
		margin: 60px 0 0;
		letter-spacing: -1px;

		@media screen and (max-width: 992px) {
			font-size: 12px;
			color: #fff;
			margin: 30px 0 0;
			letter-spacing: -1px;
			opacity: 0.6;
			line-height: 18px;
		}
	}

	.btn-container {
	}
}

// Locations
.states-box {
	display: flex;
	flex-wrap: wrap;
	margin: 60px 0;
	span.state {
		width: 20%;
		color: #038ed8;
		padding: 5px 10px;
		font-weight: 600;
		@media screen and (max-width: 992px) {
			width: 50%;
		}
	}
}

// section faqs page
section.faq-blocks {
	padding: 60px 0;
	max-width: 100%;

	.faq-blocks {
	}
	.clickmodal:hover,
	.click:hover {
		background: #eee;
	}
	.clickmodal,
	.click {
		padding: 25px 20px;
		box-shadow: 0 0px 15px -4px rgba(0, 0, 0, 0.15);

		border: 1px solid #ececec;
		border-left: 3px solid #038ed8;
		cursor: pointer;
		border-radius: 3px;
		transition: all 0.3s;

		h2.sec-title {
			color: $m;
			display: flex;

			font-size: 24px;
			line-height: 28px;
			font-weight: 600;
			margin: 0;
			font-weight: 600;
			margin: 0;

			@media screen and (max-width: 992px) {
				font-size: 20px;
			}

			span.chevron-arrow {
				margin-left: auto;
				display: flex;
				align-items: center;
				svg {
					width: 30px;
					height: 20px;
					color: #038ed8;
					fill: #038ed8;
					transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
				}
			}
		}
	}

	.clickmodal {
		padding: 0;
		h2.sec-title {
			display: flex;
			align-items: center;
		}
		span.chevron-arrow {
			margin-right: 20px;
		}
	}
	span.tiltelink {
		padding: 25px 20px;
		display: block;
		width: 100%;
	}
	.click.active-faq span.chevron-arrow svg {
		transform: rotate(90deg);
	}

	.container {
		// max-width: 75rem;
		margin-left: auto;
		margin-right: auto;
		padding: 0 20px;
	}

	span.sub-headline {
		font-weight: bold;
		letter-spacing: 0;
		text-transform: uppercase;
		color: #038ed8;
		display: block;
		margin: 0 0 10px;
		text-align: center;
		@media screen and (max-width: 992px) {
			font-size: 14px;
		}
	}

	.topcontent.content h2.sec-title {
		margin: 0 0 20px;
		font-size: 3.3rem;
		letter-spacing: -1px;
		font-weight: 800;
		line-height: 1em;
		text-align: center;
		@media screen and (max-width: 992px) {
			font-size: 2.3rem;
		}
	}

	.topcontent.content {
		margin: 0 0 60px;
	}
	.faq-block {
		> .block-content {
			opacity: 0;
			visibility: hidden;
			/* display: none; */
			max-height: 0px;
			overflow: hidden;
			transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1);
		}
		> .block-content.active-faq {
			visibility: visible;
			opacity: 1;
			display: block;
			max-height: 400vh;
			overflow: visible;
		}
	}
	.faq-block {
		margin: 0 0 20px;
	}

	.faq-blocks .item-block {
		position: absolute;
		top: 0;
		left: 100%;
		width: 100%;
		visibility: hidden;
		opacity: 0;

		visibility: hidden;
		opacity: 0;
		margin-left: 20px;
		transform: translate(-20px, 0px);
		transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		border: 1px solid #d4d4d4;
		border-radius: 10px;
		overflow: hidden;
		background: #fff;
		@media screen and (max-width: 992px) {
			position: relative;
			top: 0;
			left: 0;
			margin: 0;
			max-height: 0px;
			overflow: hidden;
		}
	}
	.item:hover .item-block {
		// opacity: 1;
		// visibility: visible;
	}

	.faq-blocks .item-block.active-faq {
		opacity: 1;
		visibility: visible;
		box-shadow: 0 10px 20px 0px #00000024;
		border: 1px solid #eee;
		margin-left: 20px;
		border: 1px solid #eee;
		transform: translate(0px, 0px);
		@media screen and (max-width: 992px) {
			margin: 10px 0 20px;
		}
		max-height: 400vh;
		overflow: hidden;
	}

	.faq-blocks {
		.item {
			position: relative;
			margin: 10px 0;
			padding: 0 15px;
		}
	}

	span.title.active-faq span.question-svg {
		opacity: 1;
	}

	.faq-blocks {
		max-width: 45%;
		width: 100%;
		margin-left: 5%;
		@media screen and (max-width: 992px) {
			max-width: 100%;
			margin: 0;
		}
	}

	section.faq-blocks {
	}

	.q-item {
		display: flex;
	}

	.a-item {
		display: flex;
	}

	.faq-blocks .item-block .title {
		width: 50px;
		display: block;
		font-size: 2.5rem;
		line-height: 2rem;
		font-size: 1.8vw;
		line-height: 2.8vw;
		padding: 0;
		@media screen and (max-width: 992px) {
			font-size: 2rem;
			line-height: 3rem;
		}
	}

	.faq-blocks .item-block span.cntx {
		width: 100%;
		font-size: 1rem;
		line-height: 1.5rem;
		// padding: 0;
		@media screen and (max-width: 992px) {
			font-size: 1rem;
			line-height: 1.4rem;
		}
	}
	span.title:hover {
		background: #eee;
	}
	span.title {
		padding: 10px 10px;
		display: flex;
		cursor: pointer;
		color: $m;
		font-size: 22px;
		line-height: 26px;
		font-weight: 700;
		font-size: 1.1rem;
		line-height: 26px;

		@media screen and (max-width: 992px) {
			font-size: 1rem;
			line-height: 1.4rem;
		}

		span.question-svg {
			margin-left: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 0;
			transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
			svg {
				width: 10px;
				height: 15px;
				fill: #038ed8;
			}
		}

		&:hover {
			span.question-svg {
				opacity: 1;
			}
		}
	}

	.topcontent.content {
		display: flex;
		flex-direction: column;
	}

	.content.botcot {
		display: flex;
		@media screen and (max-width: 992px) {
			flex-direction: column;
		}
		.faq-image {
			max-width: 45%;
			width: 100%;
			margin-left: 5%;
			padding: 30px 0 0 60px;
			display: flex;
			flex-direction: column-reverse;
			align-items: flex-end;
			@media screen and (max-width: 992px) {
				max-width: 500px;
				margin: 0 auto 40px;
			}
		}
	}

	.q-item {
		display: flex;
		align-items: flex-start;
		border-left: 3px solid #038ed8;
		padding: 20px 0 10px 20px;
	}
	.q-item {
		position: relative;
	}

	span.close-itcon {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		height: 20px;
		width: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	span.close-itcon img {
		width: 10px;
		height: 10px;
	}

	span.close-itcon:hover {
		border-radius: 50%;
		border: 1px solid #797979;
	}

	.a-item {
		display: flex;
		align-items: flex-start;
		border-left: 3px solid #eee;
		padding: 10px 0 30px 20px;

		@media screen and (max-width: 992px) {
			padding: 20px 0 30px 20px;
		}
	}

	.q-item {
		background: #fbfbfb;
	}

	.a-item {
	}

	.q-item .title {
		color: #0388cd;
		padding: 10px 0 0;
	}

	.q-item span.cntx {
		font-size: 4.8vw;
		line-height: 5.8vw;
		font-weight: 700;
		padding: 0px 20px 10px 5px;
	}

	.a-item .title {
	}

	.a-item span.cntx {
		font-size: 16px;
	}

	.block {
	}

	.block:nth-child(even) {
	}

	.block:nth-child(odd) {
	}

	span.cntx {
		padding: 5px 20px 5px 5px;
	}
}
h3.text-center {
	text-transform: capitalize;
}

section.locations-item {
	span.sub-headline {
		text-align: center;
		text-transform: uppercase;
		margin: 0 0 10px;
		font-weight: bold;
		color: #038ed8;
		display: block;
	}

	h2.sec-title {
		text-align: center;
		font-size: 3.3rem;
		letter-spacing: -1px;
		font-weight: 800;
		line-height: 4.4rem;
		margin: 0 0 30px;
		@media screen and (max-width: 992px) {
			text-align: center;
			font-size: 11vw;
			font-weight: 800;
			line-height: 12vw;
			margin: 0 0 30px;
		}
	}

	.locatios-mainblock {
		display: flex;
		margin: 60px 0 0;
		flex-wrap: wrap;
		max-width: 90vw;
		margin: 60px auto 0;
	}

	.content {
		padding: 60px 20px;
	}

	.locatios-mainblock .location-item {
		width: 31%;
		padding: 20px 10px;
		background: #fff;
		margin: 10px;
		/* box-shadow: 0 3px 10px #0000000f; */
		border-radius: 15px;
		text-align: center;
		transition: all 0.3s;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		padding: 30px 0;
		&.signup {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 100%;
		}
		@media screen and (max-width: 992px) {
			width: 100%;
			padding: 0;
		}
	}

	.locatios-mainblock .location-item {
		h2.sec-title {
			text-align: left;

			font-size: 1.8rem;
			line-height: 2.7rem;

			margin: 0 0 15px;
			font-weight: 600;
			text-align: center;
			@media screen and (max-width: 992px) {
				font-size: 1.8rem;
			}
			&.disclaimer {
				color: #444;
				font-size: 18px;
				line-height: 20px;
				text-align: center;
				margin-top: 30px;
			}
		}
	}
	.locatios-mainblock .location-item span.desc-item {
		display: block;
		font-size: 12px;
		display: none;
		span.desc-item {
		}

		a.rx-btn {
			width: 100%;
			margin: 10px 0 0;
		}
	}
}

// get started page

body.page-template.page-template-page-get-started {
	.title-bar {
		display: none;
		padding: 1.5em 1.5em 0 1.5em;
		position: relative;
		background: transparent;
	}
	.bg-white {
		background: #ffffff;
		position: relative;
	}
	.get-started-intro {
		margin-top: 170px;
	}
	.get-started-hero-2 {
		background: #448bc8;
		color: #ffffff;
		margin-bottom: 2rem;
	}
	.get-started-headline-2 {
		color: #ffffff;
	}
	.get-started-post-headline-2 {
		color: #ffffff;
	}
	.get-started-form {
		border-radius: 9px;
		background-color: #fafafa;
		padding-top: 30px;
		padding-bottom: 24px;
	}
	.get-started-form-sub {
		color: #458bc9;
	}
	h2.get-started-form-sub.text-center {
		margin-bottom: 2rem;
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 1.5;
	}
	h1.h1-box.text-center {
		line-height: 1em;
		font-size: 44px;
	}
	.image-2 {
		width: 100%;
		margin-bottom: -1px;
	}
	.get-started-car {
		/*     margin-top: -50px; */
		margin-bottom: 20px;
	}
	.text-block-27 {
		width: 100%;
		margin-right: auto;
		margin-bottom: 10px;
		margin-left: auto;
		margin-top: 10px;
		color: #d0103a;
		font-size: 36px;
		line-height: 36px;
		font-weight: 800;
	}
	.btn-img {
		max-width: 55px;
		display: inline-block;
		float: left;
		width: 14%;
		padding-right: 0px;
	}
	.btn-text {
		width: 86%;
		float: right;
	}
	.center {
		margin-bottom: 15px;
		font-size: 20px;
	}
	.blue {
		color: #458bc9;
	}
	.below-btn {
		margin-top: 0;
	}
	.get-started-how-works {
		padding: 100px 40px 50px;
		border-radius: 9px;
		background-color: #eef7ff;
		color: #192d3e;
		margin-top: 4rem;
		//   background-image: url("https://assets.website-files.com/5e7e6b8…/5e7e6b8…_pills.svg");
	}
	.pad-hw {
		padding: 49px 26px;
	}
	.number {
		position: absolute;
		left: 82.97px;
		top: 62px;
		padding: 0px 17px;
		border-radius: 9px;
		background-color: rgba(68, 139, 200, 0.24);
		color: #fff;
		font-size: 32px;
		font-weight: 700;
	}
	.ph-icon {
		position: relative;
		width: 120px;
		height: 108px;
		margin-bottom: 54px;
		//   background-image: url(https://assets.website-files.com/5e7e6b8…/5e7fb31…_shield%20(1).svg);
		background-size: 48%;
	}
	.ph-icon.icon-2,
	.ph-icon.icon-3 {
		background-position: 0 50%;
		background-size: contain;
	}
	.ph-icon.icon-2.icon-2-test {
		height: 46px;
		background-image: none;
	}
	.bl {
		top: auto;
		right: -60%;
		bottom: -36%;
		width: 64px;
		height: 64px;
		border-radius: 14px;
		background-color: rgba(69, 139, 201, 0.06);
		position: absolute;
	}
	.bl.rd {
		right: -25%;
		bottom: 29%;
		width: 48px;
		height: 48px;
		background-color: rgba(255, 1, 27, 0.05) !important;
		position: absolute;
	}
	.ph-ico-position {
		top: auto;
		right: -55%;
		bottom: -20%;
		width: 50px;
		height: 50px;
		border-radius: 14px;
		position: absolute;
	}
	.rows-new {
		padding-bottom: 61px;
	}
	.slider1 {
		position: relative;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		margin: 1px 1px 10px;
		padding: 112px 70px 24px;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		background-color: #fff;
		background-image: url('https://www.nowrx.com/wp-content/themes/nowrx/library/images/5e7e6b89b39e21595385dcb3_quote.svg');
		background-repeat: no-repeat;
		background-position: 36px 106px;
		background-size: 125px;
		box-shadow: 1px 1px 40px 0 rgba(0, 0, 0, 0.05);
		-webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
		transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
		font-size: 14px;
		line-height: 24px;
		cursor: -webkit-grab;
		cursor: grab;
	}
	.p-sub.p-short.last-word {
		font-size: 28px;
	}
	.p-light.left-al.center-text {
		margin-bottom: -6px;
		font-size: 21px;
		line-height: 35px;
		text-align: center;
		font-weight: 400;
	}
	.divider {
		width: 50px;
		height: 1px;
		margin: 25px auto;
		background-color: #e2e2e2;
		color: #458bc9;
	}
	.text-block-30 {
		margin-bottom: 38px;
	}
	.review {
		position: absolute;
		left: 0;
		top: -9%;
		right: 0;
		bottom: 0;
		margin-right: auto;
		margin-left: auto;
		border-style: solid;
		border-width: 6px;
		border-color: #fff;
		border-radius: 143px;
	}
	.section.section-opportunity.red {
		padding-top: 99px;
		padding-bottom: 99px;
		background-color: #d0103a;
		background-image: url('https://www.nowrx.com/wp-content/themes/nowrx/library/images/5e7e6b89b39e219a3985dca6_par-2.svg');
		background-position: 100% 0;
		background-size: cover;
		font-size: 28px;
		color: #ffffff;
	}
	.get-started-covered {
		display: block;
		width: 100%;
		margin-bottom: 50px;
		padding: 50px 40px 50px;
		background-image: none;
		background-position: 0 0;
		background-size: auto;
		background-repeat: repeat;
		background-attachment: scroll;
		background-color: #fafafa;
	}
	.get-started-covered-box {
		margin-top: 0;
		margin-bottom: 0;
		padding: 77px 41px;
	}
	.image-3 {
		height: 100%;
		margin-right: 26px;
		padding-right: 0;
		background-image: url('https://www.nowrx.com/wp-content/themes/nowrx/library/images/5ea729fc1d9f69ada542b845_now-new-img.jpg');
		background-size: cover;
		border-radius: 4px;
		width: 100%;
	}
	.p-sub.p-short.p-margin {
		width: auto;
		margin-bottom: 25px;
		padding-bottom: 7px;
		padding-left: 5px;
		background-image: url('https://www.nowrx.com/wp-content/themes/nowrx/library/images/5e7e6b89b39e219e0385dca2_dot.svg');
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 32px;
		font-size: 24px;
		line-height: 30px;
	}
	.list-red {
		margin-bottom: 20px;
		padding-top: 0px;
		padding-bottom: 2px;
		padding-left: 29px;
		border-bottom-style: none;
		background-image: url('https://www.nowrx.com/wp-content/themes/nowrx/library/images/5e7fbe2b0c4ef4df15f98133_tick.svg');
		background-position: 0 50%;
		background-size: 12px;
		background-repeat: no-repeat;
		color: #000;
		font-size: 16px;
		line-height: 22px;
		text-align: left;
		list-style-type: none;
	}
	.orbit-figure {
		margin: 0;
		height: 100%;
		min-height: 270px;
	}
	.get-started-speak {
		display: block;
		clear: both;
	}
	.testi-text p {
		font-size: 0.9em;
		margin-bottom: 0.5rem;
	}
	span.testi-small {
		font-size: 0.7em;
	}
	.list-dots {
		display: block;
		margin-bottom: 25px;
		padding-left: 57px;
	}
	.w-list-unstyled {
		padding-left: 0;
		list-style: none;
	}
	.orbit-previous:hover,
	.orbit-next:hover,
	.orbit-previous:active,
	.orbit-next:active,
	.orbit-previous:focus,
	.orbit-next:focus {
		display: none;
	}
	[data-whatinput='mouse'] .orbit-previous,
	[data-whatinput='mouse'] .orbit-next {
		display: none;
	}
	.orbit-previous,
	.orbit-next {
		display: none;
	}
	.testi-name p {
		margin-bottom: 0;
	}
	.yelp-rating img {
		max-width: 100px;
		margin-bottom: 1rem;
		margin-top: 0.7rem;
	}
	.section-bussiness {
		padding: 100px 40px 50px;
		border-radius: 9px;
		background-color: #eef7ff;
		color: #192d3e;
		//   background-image: url('https://assets.website-files.com/5e7e6b8…/5e7e6b8…_pills.svg');
	}
	.section-bussiness .ph-icon.icon-2 {
		margin-bottom: 20px;
	}
	.section-bussiness img {
		position: absolute;
		left: 100%;
		top: 22%;
	}
	.section-bussiness img.car-larger {
		position: absolute;
		left: 85%;
		top: 35%;
		max-width: 100px;
	}

	.section-bussiness img.bt-row {
		position: absolute;
		left: 108%;
		top: 35%;
		max-width: 100px;
	}
	.section-business-header {
		padding-bottom: 50px;
	}
	.works-head {
		margin-bottom: 10px;
		color: #333131;
		line-height: 22px;
		font-weight: 700;
	}
	.bl-2 {
		top: auto;
		right: -60%;
		bottom: 0;
		width: 64px;
		height: 64px;
		border-radius: 14px;
		background-color: rgba(69, 139, 201, 0.06);
		position: absolute;
	}
	.bl-2.rd-2 {
		right: -25%;
		bottom: 29%;
		width: 48px;
		height: 48px;
		background-color: rgba(255, 1, 27, 0.05) !important;
		position: absolute;
	}
	@media screen and (max-width: 991px) {
		.text-block-27 {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
		.below-btn {
			margin-top: 1rem;
		}
		.image-2 {
			display: block;
			margin-bottom: 8px;
			padding-right: 1px;
			padding-left: 1px;
		}
		.get-started-how-works {
			margin-top: 25px;
			padding: 50px 10px 25px;
		}
		.bl {
			bottom: -60%;
		}
		.ph-ico-position {
			bottom: -40%;
		}
		.bg-white {
			margin-bottom: 15px;
		}
		.number {
			left: 46%;
			top: 5%;
			right: auto;
			bottom: auto;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			margin-right: auto;
			margin-left: auto;
		}
		.slider1 {
			margin-top: 70px;
			padding-bottom: 44px;
		}
		.section.section-opportunity.red {
			padding-left: 5%;
			padding-right: 5%;
		}
		.section-bussiness {
			padding-top: 35px;
		}
		.section-business-header {
			padding-top: 10px;
			padding-bottom: 1rem;
		}
		.ph-icon {
			margin: 0 auto 4rem auto;
		}
		.bl {
			right: 20%;
		}
		.ph-ico-position {
			right: 20%;
		}
		.h2-op {
			font-size: 50px;
		}
		.bl.rd {
			right: 65%;
		}
		.rows-new {
			padding-bottom: 0px;
		}
		.bl-2 {
			right: 10%;
		}
		.bl-2.rd-2 {
			right: 50%;
		}
		.section-bussiness img.car-larger {
			left: 10%;
		}
		.section-bussiness img {
			left: 20%;
		}
		.section-bussiness img.bt-row {
			left: 30%;
		}
		.get-started-covered-box {
			padding-top: 0px;
			padding-bottom: 0px;
		}
		.get-started-covered {
			margin-bottom: 0px;
			padding-bottom: 50px;
		}
		.p-sub.p-short.p-margin {
			padding-left: 42px;
			font-size: 29px;
		}
	}
	@media screen and (max-width: 767px) {
		.h2-box,
		.h2-box.h2-op {
			font-size: 32px;
		}
		.slider1 {
			margin-top: 102px;
			padding: 123px 20px 53px;
		}
		.get-started-covered-box {
			padding-top: 50px;
			padding-bottom: 0px;
		}
		.h2-op {
			font-size: 32px;
		}
		.number {
			left: 40%;
		}
		.ph-ico-position {
			right: 25%;
		}
		.orbit-figure {
			min-height: 230px;
		}
	}
	/*
  @media screen and (max-width: 569px) {
	  .orbit-figure {
		  min-height: 400px;
	  }		
  }
  */
}

// get started page

.testimonial-block {
	max-width: 100%;
	position: relative;

	@media screen and (min-width: 992px) {
		margin-top: -110px;
	}

	.stars {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 0 5px;
		.star {
			width: 20px;
			height: 20px;
			margin: 0 5px;
			color: #048eda;
		}
	}

	img.pic.lozad {
		max-width: 410px;
		margin: 0 auto;
		display: block;
	}

	img.pic.lozad {
	}

	.yelpo {
	}

	.yelpo img.pic.lozad {
		max-width: 130px;
	}
	.testi-text {
		display: block;
		text-align: center;
		margin: 20px 0 15px;
		font-weight: 500;
		font-size: 18px;
		padding: 0 20px;
	}

	.testi-name strong {
		font-weight: 800;
	}

	span.testi-small {
		font-size: 14px;
		font-weight: 400;
		margin-left: 15px;
		padding: 4px 0;
	}
	figure {
	}
	.testi-name {
		text-align: center;
		margin: 40px 0 0;
	}
	figure figcaption {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		font-weight: 800;

		@media screen and (max-width: 992px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}

	figure cite {
		font-size: 14px;
		font-weight: 400;
		margin-left: 15px;
		display: block;
		padding: 4px 0;
	}

	figure span.c {
		display: block;
		text-align: center;
		margin: 0 0 15px;
	}
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

section.faq-blocks.prep {
	position: relative;
	padding: 60px 0 60px;
	min-height: 100vh;
	.topcontent.content {
		justify-content: flex-end;
		width: 100%;
		align-items: center;
		@media screen and (min-width: 992px) {
			margin-left: 5%;

			max-width: 50%;
			align-items: flex-start;
		}
		h2.sec-title {
			@media screen and (min-width: 992px) {
				text-align: left;
			}
		}
		span.sub-headline {
			text-align: center;
			@media screen and (min-width: 992px) {
				text-align: left;
			}
		}
	}
	.faq-image {
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		min-height: 100vh;
		@media screen and (max-width: 992px) {
			position: relative;

			display: none;
		}
	}

	.faq-image img.pic {
		object-fit: cover;
		// object-position: 10vw;
		min-height: 100vh;
	}

	.faq-image:after {
		content: close-quote;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: -webkit-gradient(linear, right top, left top, from(hsla(0, 0%, 100%, 0)), color-stop(50%, #fff));
		background: linear-gradient(-90deg, hsla(0, 0%, 100%, 0), #ffffff 50%);
		@media screen and (max-width: 992px) {
			display: none;
		}
	}
}

section.pp-section.pp-section--payments {
	padding: 100px 100px 0;
	@media screen and (max-width: 992px) {
		padding: 100px 20px;
	}

	.section-inner.pp-inner--split {
		display: flex;
	}

	.pp-split-mod.pp-txt-mod {
		width: 50%;
		@media screen and (max-width: 992px) {
			width: 100%;
		}
	}

	.pp-txt-mod--secondary {
		width: 50%;
		@media screen and (max-width: 992px) {
			width: 100%;
		}
	}

	.pp-txt-mod--secondary {
		display: flex;
		flex-direction: column;
	}

	.inline-items-mod.no-break {
		display: flex;
		margin: 20px 0 20px;
	}

	.inline-items-mod.no-break svg {
		max-width: 70px;
		width: 100%;
		max-height: 80px;
		fill: #038ed8;
		@media screen and (max-width: 992px) {
			max-height: 70px;
		}
	}

	p.section-p {
		margin: 0 0 0 30px;
		color: #00334d;
		font-size: 1rem;
		letter-spacing: 0.02em;
		line-height: 1.5em;
	}

	p.section-subh {
		font-weight: 900;
		letter-spacing: 0;
		color: #038ed8;
		display: block;
		margin: 0 0 10px;
		white-space: nowrap;
		text-transform: uppercase;
		font-family: Verdana, sans-serif;
		font-size: 1.1rem;
		@media screen and (max-width: 992px) {
			font-size: 9px;
			text-align: center;
		}
	}

	h2.section-h {
		text-transform: capitalize;
		padding-right: 50px;
		margin: 0 0 20px;
		font-size: 3.3rem;
		font-weight: 800;
		line-height: 1.15;
		letter-spacing: -0.1rem;
		@media screen and (max-width: 992px) {
			padding-right: 0;
			line-height: 12vw;
			font-size: 9.4vw;

			text-align: center;
		}
	}

	h3.note-h {
		font-size: 1.625rem;
		letter-spacing: 0.01em;
		line-height: 1.3em;
		color: #00334d;
		display: block;
		margin: 50px 0 20px;
		@media screen and (max-width: 992px) {
			font-size: 5vw;
			line-height: 7vw;

			text-align: center;
		}
	}
	.section-inner.pp-inner--split {
		max-width: 1100px;
		margin: 0 auto;
		flex-wrap: wrap;
		justify-content: center;
		@media screen and (max-width: 992px) {
			display: flex;
			flex-direction: column;
		}
	}
	p.section-p strong {
		font-weight: 800;
		display: block;
		font-size: 1.2em;
		margin: 0 0 5px;
	}
	.btn-container {
		margin: 60px 0 0;
	}
}
