// body.blog {
// 	.calltoaction {
// 		display: none;
// 	}
// }
// body.single-post .calltoaction,
// body.page-template.page-template-refill-and-transfer-prescriptions .calltoaction {
// 	display: none;
// }
// .calltoaction {
// 	position: fixed;
// 	bottom: 0;
// 	left: 0;
// 	right: 0;
// 	background: #fff;
// 	z-index: 1123;
// 	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.09);
// 	border-top: 1px solid #f2f2f2;
// 	transition: all 0.6s cubic-bezier(0, 0.55, 0.45, 1);
// 	opacity: 0;
// 	visibility: visible;
// 	transform: translateY(100%);
// 	display: none;
// 	box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.08);

// 	&.fixed {
// 		opacity: 1;
// 		visibility: visible;
// 		transform: translateY(0%);
// 	}
// 	.ml {
// 		margin-left: 5px;
// 	}
// 	@media screen and (max-width: 992px) {
// 		display: block;
// 	}
// 	.content {
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;
// 		padding: 20px 10px;
// 		.rx-btn {
// 			display: flex;
// 			flex-direction: column;
// 			margin: 0 2.5px;

// 			margin: 0px;
// 			border-radius: 30px;
// 			color: #fff;
// 			margin-left: 20px;

// 			border-radius: 35px;
// 			color: #fff;
// 			margin: 0 0 0 20px;
// 			background-color: #008eda;
// 			color: #fff;
// 			padding: 15px 35px;
// 			display: flex;
// 			border: none;
// 			background-color: transparent;
// 			position: relative;
// 			overflow: hidden;
// 			border: 1px solid rgba(31, 136, 202, 0.75);
// 			z-index: 123;
// 			font-size: 12px;

// 			@media screen and (max-width: 992px) {
// 				margin: 20px 0 0;
// 				padding: 15px 22px;
// 				font-size: calc(10.976px + 0.88235vw);

// 				font-size: 1.0625rem;
// 				margin: 10px 0;
// 				min-width: 85vw;
// 				line-height: 30px;
// 				padding: 3vw 28px;
// 				min-width: 100%;
// 			}

// 			&::before {
// 				content: close-quote;
// 				position: absolute;
// 				top: 0;
// 				left: 0;
// 				width: 100%;
// 				height: 100%;
// 				background-color: rgba(31, 136, 202, 1);
// 				background-image: linear-gradient(-180deg, hsla(0, 0%, 100%, 0.1), rgba(0, 0, 0, 0.1));
// 				z-index: -1;
// 				transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
// 			}

// 			&::after {
// 				content: close-quote;
// 				position: absolute;
// 				top: 0;
// 				left: 0;
// 				width: 100%;
// 				height: 100%;
// 				background-color: rgba($color: #fff, $alpha: 0.5);
// 				background: linear-gradient(
// 					90deg,
// 					rgba(255, 255, 255, 0) 0%,
// 					rgba(255, 255, 255, 0.5172443977591037) 20%,
// 					rgba(255, 255, 255, 1) 50%,
// 					rgba(255, 255, 255, 0.5144432773109244) 79%,
// 					rgba(255, 255, 255, 0) 100%
// 				);

// 				background-image: linear-gradient(-180deg, hsla(0, 0%, 100%, 0.1), rgba(0, 0, 0, 0.1));
// 				z-index: -1;
// 				transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
// 				transform: translateX(-100%);
// 			}

// 			// &.active {
// 			// 	// color: #008ed8;
// 			// 	box-shadow: 0 5px 10px -1px rgba(31, 136, 202, 0.34);
// 			// 	border: 1px solid rgba(#33a532, 0.75);
// 			// 	&::after {
// 			// 		width: 100%;
// 			// 		transform: translateX(100%);
// 			// 	}
// 			// 	&::before {
// 			// 		background-color: #33a532;
// 			// 	}
// 			// }
// 			&:hover {
// 				// color: #008ed8;
// 				box-shadow: 0 5px 10px -1px rgba(31, 136, 202, 0.34);
// 				border: 1px solid rgba(#008eda, 0.75);
// 				&::after {
// 					width: 100%;
// 					transform: translateX(100%);
// 				}
// 				&::before {
// 					background-color: darken($color: #008eda, $amount: 20);
// 				}
// 			}

// 			span.arrow {
// 				width: 20px;
// 				height: 20px;
// 				svg {
// 					width: 20px;
// 					height: 20px;
// 				}
// 			}

// 			@media screen and (max-width: 992px) {
// 				// padding: 8px 5px;
// 				min-width: 100%;
// 				// font-size: 0.9625rem;
// 				min-height: 50px;
// 				letter-spacing: -0.6px;
// 				display: -webkit-box;
// 				display: -webkit-flex;
// 				display: -ms-flexbox;
// 				display: flex;
// 				-webkit-box-orient: horizontal;
// 				-webkit-box-direction: normal;
// 				-webkit-flex-direction: row;
// 				-ms-flex-direction: row;
// 				flex-direction: row;
// 				margin: 0;
// 			}
// 			&:nth-child(1) {
// 				margin-right: 5px;
// 			}

// 			&:nth-child(2) {
// 				margin-left: 5px;
// 			}
// 		}
// 	}
// }

div#bitnami-banner {
	display: none !important;
}

footer.main-footer {
	background: #122d3f;
	color: #fff;
	padding: 90px 9vw 30px;
	font-family: 'Nunito Sans', sans-serif;
	letter-spacing: 0;
	@media screen and (max-width: 1280px) {
		padding: 90px 0 30px;
	}
	@media screen and (max-width: 700px) {
		padding: 40px 20px;
	}

	.container {
		padding: 0;
		margin: 0 auto;
	}

	.blocks {
		display: flex;
		@media screen and (max-width: 1280px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		@media screen and (max-width: 700px) {
			flex-direction: column;
		}
	}

	.social-icons {
		display: flex;
		@media screen and (max-width: 1280px) {
		}
		a {
			display: flex;
			color: #8b899d;
			position: relative;
			transition: all 0.6s;
			&:after {
				content: '';
				position: absolute;
				top: calc(100% + 3px);
				width: 0px;
				left: 0;
				transform: translate(0);
				height: 1px;
				background: #8b899d;
				border-radius: 3px;
				margin: 0 auto;
				right: 0;
				transition: all 0.6s;
			}
			&:hover {
				color: #8b899d;
				&:after {
					width: 100%;
				}
			}
		}
	}

	.block {
		&.right {
			display: flex;
			width: 40%;
			align-items: center;
			justify-content: center;
			@media screen and (max-width: 1280px) {
				width: 100%;
			}
			@media screen and (max-width: 700px) {
				width: 100%;
				margin: 30px 0 0;
				justify-content: flex-start;
			}
			ul.menu-items {
				margin: 0;
				padding: 0;
				width: 50%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				@media screen and (max-width: 700px) {
					align-items: center;
				}
				li {
					list-style: none;
					a {
						color: #fbfbfb;
						line-height: 1;
						margin: 15px 0;
						display: inline-flex;
						font-size: 1.2rem;
						line-height: 1.2;
						position: relative;
						transition: all 0.6s;
						@media screen and (max-width: 700px) {
							font-size: 0.8rem;
						}
						&:after {
							content: '';
							position: absolute;
							top: calc(100% + 3px);
							width: 0px;
							left: 0;
							transform: translate(0);
							height: 1px;
							background: #8b899d;
							border-radius: 3px;
							margin: 0 auto;
							right: 0;
							transition: all 0.6s;
						}
						&:hover {
							color: #8b899d;
							&:after {
								width: 100%;
							}
						}
					}
				}
			}
		}
		&.left {
			width: 60%;
			@media screen and (max-width: 1280px) {
				width: 100%;
				max-width: 600px;
			}
			span.line {
				margin: 0 0 50px;
				display: inline-flex;
				font-weight: bold;
				line-height: 1.15;
				font-size: 2.3rem;
				max-width: 690px;
				letter-spacing: -0.1rem;
				@media screen and (max-width: 700px) {
					font-size: 2rem;
					margin-bottom: 20px;
					text-align: center;
					font-size: 1.7rem;
				}
			}
			.icon {
				width: 40px;
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				svg {
					width: 20px;
					height: 20px;
				}
			}
		}
		.social {
			display: flex;
			align-items: center;
			@media screen and (max-width: 1280px) {
				justify-content: center;
				margin: 0 0 30px;
				justify-content: center;
				flex-direction: column;
			}
			.text {
				color: #8b899d;
				@media screen and (min-width: 1280px) {
					margin-right: 20px;
				}
			}
		}
	}

	.u-list {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 380px;
		margin-left: auto;
		@media screen and (max-width: 1280px) {
			max-width: 580px;
			margin: 0 auto;
		}
		@media screen and (max-width: 700px) {
			margin: 0;
		}
	}

	.footer-rect {
		margin: 60px 0 0;
		padding: 30px 0 0;
		display: flex;
		border-top: 1px solid #254256;
		@media screen and (max-width: 700px) {
			display: flex;
			flex-direction: column-reverse;
			justify-content: flex-end;
		}
		.copright {
			width: 60%;
			color: #8b899d;
			font-size: 0.8rem;
			display: flex;
			align-items: center;
			@media screen and (max-width: 700px) {
				width: 100%;
				justify-content: center;
			}
		}
		.app {
			width: 40%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			@media screen and (max-width: 700px) {
				width: 100%;
				justify-content: center;
				margin-bottom: 20px;
			}
			.icon {
				width: 140px;
				height: auto;
				margin: 0 0 0 20px;
				@media screen and (max-width: 700px) {
					margin: 0 20px 0 0;
				}
				img {
					width: 100%;
					height: auto;
					object-fit: contain;
				}
			}
		}
	}
}
