
.text-center {
    text-align: center;
}
.search-bar {
    margin: 20px 0 0;
}
.marginzero{
    margin: 0;
}
.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem;
    padding: .85em 3em;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color .25s ease-out,color .25s ease-out;
    font-family: inherit;
    font-size: .9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #0088ce;
    color: #fff;
    background-image: linear-gradient(
        -180deg
         ,hsla(0,0%,100%,.1),rgba(0,0,0,.1));
    &.small {
        font-size: .75rem;
    }
}
ul {
    padding-inline-start: 40px;
}
a {
    line-height: inherit;
    color: #0088ce;
    text-decoration: none;
    cursor: pointer;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
menu, .menu.horizontal {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.menu .button, .menu a {
    line-height: 1;
    text-decoration: none;
    display: block;
    padding: .7rem 1rem;
}

.menu .button, .menu a {
    padding: .7rem;
}
.menu a, .menu button, .menu input, .menu select {
    margin-bottom: 0;
}



hr {
    clear: both;
    max-width: 75rem;
    height: 0;
    margin: 1.25rem auto;
    border-bottom: 1px solid #cacaca;
}
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    overflow: visible;
}

a img, hr {
    border: 0;
}

@media screen and (max-width: 0em), screen and (min-width: 40em){
    .show-for-small-only {
        display: none!important;
    }
}


@media screen and (max-width: 39.99875em){
    .hide-for-small-only {
        display: none!important;
    }
}


.pagination a, .pagination button {
    display: block;
    padding: .1875rem .625rem;
    border-radius: 0;
    color: #192d3e;
}



section.testimonials-block.triples{
	.imageblock {
		max-width: 120px;
		margin: 0px auto 20px;
		border-radius: 50%;
		align-items: center;
		display: flex;
		justify-content: center;
		position: relative;
		padding: 20px 0 0;
	}

	.blocks {
		display: flex;
		@media screen and (max-width: 992px) {
			flex-direction: column;
		}
	}
	.review {
		@media screen and (max-width: 700px) {
			padding: 0 20px;
		}
	}
	.subtitle {
		font-size: 1.1875rem;
	}

	h3.name {
		font-size: 21px;
		color: #1a2d3d;
		font-weight: 600;
		line-height: 25px;
		margin: 0 0 5px;
	}

	.usertitle {
		color: #0388cd;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 15px;
	}

	.imageblock img {
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18);
		border-radius: 50%;
		object-fit: cover;
	}

	.imageblock:after {
		content: close-quote;
		position: absolute;
		bottom: 100%;
		left: 0;
		right: 0;
		width: 100%;
		height: 2px;
		background: #0388cd;
		margin: 0 auto;
	}

	.subtitle {
		text-align: center;
		text-transform: uppercase;
		margin: 0 0 10px;
		color: #038ed8;
		font-weight: 600;
		@media screen and (max-width: 700px) {
			font-size: calc(10.976px + .88235vw);
		}
	}

	h2.main-title {
		text-align: center;
		margin: 0;

		font-size: 2.8rem;
		font-weight: 800;
		line-height: 1.15;
		letter-spacing: -.1rem;


		@media screen and (max-width: 700px) {
			font-size: $font700h2;

		}
		@media screen and (max-width: 400px) {
			font-size: $font400h2;
		}
	}

	.blocks {
		align-items: center;
		margin: 40px 0 0;
		justify-content: center;
	}

	.content {
		padding: 4rem 10px;
	}

	.container {
		max-width: 75rem;
		margin: 0 auto;
	}

	.block {
		text-align: center;
		text-align: center;
		margin: 0 40px;
		max-width: 340px;
		align-items: flex-start;
		@media screen and (max-width: 992px) {
			max-width: 400px;
			margin: 0 auto 60px;
		}
	}

	.title {
		font-size: 1.3rem;
	  }
	.block h2.title {
		text-align: center;
		font-size: 30px;
		margin: 0 0 10px;
	}

	p {
		color: #1a2d3d;
		min-height: 120px;
		display: block;
	}

	blockquote,
	blockquote {
		padding: 0;
	}

	.block blockquote {
		border: none;
	}
}