.nuber_selector {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 0 auto;
}

.nuber_selector div {
	display: flex;
	justify-content: space-evenly;
}

span.del,
span.zero,
span.dec,
.nuber_selector div span.number_pad {
	padding: 0px 0px;
	font-size: 1.6rem;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #eee;
	border-bottom: 2px solid #d5d5d5;
	margin: 4px 4px;
	cursor: pointer;
	border-radius: 3px;

	span.number {
		position: relative;
	}
}

span.del {
}

.time-selector {
}

.nuber_selector div span.number_pad:hover {
	background: $blue;
	color: $f;
}

.pill-calculator {
	.content {
		display: flex;
		gap: 0 60px;



	}
    .info {
        max-width: 490px;
    }
}

.pill-calculator .content {
	display: flex;
	gap: 0 60px;
}

.pill-calculator .date-picker {
}
.main-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.dayfill {
	width: 100%;


    padding: 50px 0 0;
    .time-selector {
        box-shadow: 1px 0 0 #eee, -1px 0 0 #eee, 0 1px 0 #eee, 0 -1px 0 #eee, 0 3px 13px rgb(0 0 0 / 8%);
        padding: 20px 20px;
        background: #f6f6f6;
    }
}
.pill-calculator .calculate {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 0;
}

.text-title {
	text-align: center;
	padding: 0 0 10px;
}
span.days {
	padding: 0px 20px;
	display: flex;
	margin: 0 0 10px;
	.number_input {
		font-size: 2rem;
		font-weight: 700;
		min-height: 50px;
		border: 1px solid #eee;
		border-radius: 5px;
		box-shadow: 0 3px 6px -2px #d2d2d2 inset;
		text-align: center;
		width: 100%;
		background: #f8f8f8;
	}
}
span.title {
	text-align: center;
	display: block;
	padding: 0 0 10px;
}
span.number {
	font-size: 1rem;
	line-height: 1;
}

button.bnt-calc {
	color: #fff;
	position: relative;
	overflow: hidden;
	font-size: 16px;
	padding: 10px 25px;
	width: auto;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	background: #038ed8;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 30px;
	min-width: 200px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: 700;
	margin: 0;
	border: none;
	&:hover {
		background-color: $d-blue;
	}
}

.result {
	color: #284c8b;
	font-size: 1.3rem;
	text-align: center;
	font-weight: 700;
	line-height: 1.2;
	margin: 0 0 20px;
}

.results {
	margin: 20px 0 0;
}
