// font-family: 'Mulish', sans-serif;
// font-family: 'Noto Sans HK', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: Verdana, Geneva, sans-serif;
$fontround:  Verdana, sans-serif;

// subheading
$font700sub : calc(10.976px + .88235vw);
$font400sub : 3.2vw;

// h1

$font1280h1 : calc(34.97647px + 0.88235vw);
$font700h1 : calc(30.97647px + .88235vw);
$font400h1 : calc(26.976px + 0.88235vw);
$font375h1 : calc( 7.88235vw);



// h2
$font1280h2 : calc(30.97647px + .88235vw);
$font700h2 : calc(26.97647px + .88235vw);
$font400h2 : calc(23.176px + .88235vw);

// h3
$font1280h3 : calc(10.97647px + .88235vw);

// blog h1
$bfont700h1 : calc(27.97647px + .88235vw);
$bbont400h1 : calc(22.976px + 0.88235vw);

// blog h2
$bfont700h2 : calc(23.97647px + .88235vw);
$bbont400h2 : calc(20.976px + 0.88235vw);


h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ol
{
	margin: 0;
	padding: 0;
}
blockquote,
dd,
div,
dl,
dt,
form,


pre,
td,
th,
ul {
	// margin: 0;
	// padding: 0;
}

blockquote {
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-weight: 400;
	line-height: 1.7;
	color: #192d3e;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.15rem;
	// font-family: 'Raleway', sans-serif;
	font-family: Verdana, sans-serif;
	font-size: 1rem;
    letter-spacing: .01rem;

}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: normal;
	font-weight: 400;
	color: inherit;
	text-rendering: optimizeLegibility;
	margin: 0 0 20px;
	font-family: Verdana, sans-serif;
}

.h3,
.h4,
h3,
h4 {
	line-height: 1.4;
	margin-top: 0;
	margin-bottom: 0.5rem;
}
.h5,
h5 {
	font-size: 1.25rem;
	line-height: 1.4;
	margin-top: 0;
	margin-bottom: 0.5rem;
}
.h6,
h6 {
	font-size: 1rem;
}
.h5,
.h6,
h5,
h6 {
	line-height: 1.4;
	margin-top: 0;
	margin-bottom: 0.5rem;
}
p {
	margin-bottom: 1rem;
	font-size: inherit;
	line-height: 1.6;
	text-rendering: optimizeLegibility;
}
a {
	line-height: inherit;
	color: #0088ce;
	text-decoration: none;
	cursor: pointer;
}
span.subheading {
	font-weight: bold;
	text-transform: uppercase;
	color: #038ed8;
	display: block;
	margin: 0 0 10px;
	font-family: $fontround;
	@media screen and (max-width: 700px) {
		font-size: 3.2vw;
	}
}


.txtcenter{
	text-align: center!important;
}