.wh-container {
	.calculator h1 {
		position: relative;
		line-height: 1.2;
		font-weight: 700;
		margin: 0 0 30px;
		font-size: 2.2rem;
		padding-bottom: 10px;
	}

	.calculator h1:after {
		content: close-quote;
		position: absolute;
		top: 110%;
		left: 0;
		right: 0;
		height: 4px;
		width: 30%;
		background: #008ed8;
		margin: 0 auto;
	}

	.calculator header {
		text-align: center;
		max-width: 500px;
		margin: 0 auto 60px;
	}

	display: flex;

	.calculator {
		width: 50%;
		@media screen and (max-width: 1280px) {
			width: 100%;
		}

		.input_calc {
			margin: 70px 0 0;
			display: flex;
			justify-content: center;
			@media screen and (max-width: 700px) {
				display: flex;
				justify-content: center;
			}
			button.calculate-btn {
				box-sizing: border-box;
				padding: 13px 16px;
				border: 1px solid #038ed8;
				background: #038ed8;
				color: #fff;
				cursor: pointer;
				font-size: 15px;
				font-weight: 700;
				margin: 0;
				border-radius: 30px;
				box-shadow: none;
				text-transform: uppercase;
				display: inline-flex;
				max-width: 100%;
				min-width: 0;
				width: 240px;
				text-align: center;
				align-items: center;
				justify-content: center;
				&:hover {
					background: #254e88;
				}
			}
		}
	}

	.content {
		width: auto;
		padding-left: 60px;
		text-align: left;
		justify-content: flex-start;
		width: 60%;
	}

	input.radio-btn {
		position: relative;
		width: 1.5em;
		height: 1.5em;
		color: #008ed8;
		border: 1px solid #008ed8;
		border-radius: 50%;
		appearance: none;
		outline: 0;
		cursor: pointer;
		&::before {
			position: absolute;
			content: '';
			display: block;
			top: 50%;
			left: 50%;
			width: 12px;
			height: 12px;
			transform: translate(-50%, -50%);
			opacity: 0;
			z-index: 123;
			border-radius: 50%;
			background: #008ed8;
		}
		&:checked {
			&::before {
				opacity: 1;
			}
			~ label::before {
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			}
		}
	}

	label.radio-btn {
		position: relative;
		cursor: pointer;
		font-size: 1.5em;
		font-weight: 600;
		padding: 0 0 0;
		user-select: none;
		&::before {
			position: absolute;
			content: '';
			display: block;
			top: 50%;
			left: 50%;
			width: 12px;
			height: 12px;
			transform: translate(-50%, -50%);
			opacity: 0;
			z-index: 123;
			border-radius: 50%;
			background: #008ed8;
		}
	}
}

.wh-container {
	margin-bottom: 60px !important;
	max-width: 100%;
	padding: 0 90px;
	max-width: 1500px;
	@media screen and (max-width: 1280px) {
		flex-direction: column;
		padding: 0 20px;
	}
	.content {
		justify-content: flex-start;
		padding-left: 120px;
	}
}
.wh-container h2 {
	font-size: 1.5rem;
	padding: 0 0 10px;
}

span.input_field {
	display: flex;
	align-items: center;
	max-width: 520px;
	margin: 30px auto;
	@media screen and (max-width: 1280px) {
		flex-direction: column;
		align-items: flex-start;
		max-width: 380px;
	}
}
.input_field input {
}

span.input_field .input {
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

span.input_field input.field {
	margin: 0;
}

span.input_field .unit {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
}

.input_result {
	display: flex;
	align-items: center;
	@media screen and (max-width: 1280px) {
		flex-direction: column;
	}
}

.input_result input.input {
	margin: 0;
	margin-left: auto;
	margin-right: 35px;
}

.label {
	font-weight: 700;
	padding-right: 20px;
	line-height: 1.2;
}

.border-input {
	border: 1px solid #eee;
}
.input-container {
	position: relative;
	// margin-left: auto;
	border-radius: 5px;
	@media screen and (max-width: 1280px) {
		width: 100%;
	}
	@media screen and (max-width: 1280px) {
		margin: 10px 0 0;
	}
	.unit {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.unit select {
		margin: 0;
		border: none;
		background: initial;
		font-weight: 900;
		font-size: 0.7rem;
		color: $blue;
	}

	.input {
	}

	input.field {
		border: none;
		box-shadow: none;
		background: transparent;
	}
}

.sub-content {
	margin: 40px 20px 0;
}
header.title {
	h2.title {
		text-align: center;
		margin: 0 0 40px;
		text-transform: capitalize;
		position: relative;
		font-size: 1.3rem;
	}

	h2.title:after {
		content: close-quote;
		position: absolute;
		top: 110%;
		left: 0;
		right: 0;
		height: 4px;
		width: 30%;
		background: #008ed8;
		margin: 0 auto;
	}
}
h3.title {
	font-size: 1rem;
}

.side-content {
	width: 100%;
	max-width: 520px;
	margin-left: auto;
	padding: 70px 0 0;
	padding-left: 20px;
	@media screen and (max-width: 1280px) {
		width: 100%;
		padding: 60px 0 0;
		margin: 0 auto;
		max-width: 350px;
	}
}
input.input {
	font-weight: 800;
	font-size: 1.2rem;
}
.side-content .block {
	border-radius: 10px;
	padding: 40px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
	position: relative;
	min-height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	@media screen and (max-width: 700px) {
		padding: 20px;
		min-height: 500px;
	}

	span.title-image {
		display: flex;
		justify-content: center;
		opacity: 0.3;
		margin: 30px 0 0;
	}
	h3.title {
		margin: 0;
	}
	.results-block {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		background: #fff;
		opacity: 0;
		visibility: hidden;
		justify-content: center;
		flex-direction: column;
		align-items: flex-start;
		align-items: center;
		padding: 40px;
		transition: all 0.6s;
		@media screen and (max-width: 700px) {
			padding: 20px;
		}
		&.active {
			opacity: 1;
			visibility: visible;
		}
		header.title {
			width: 100%;
		}
	}
}
.input-container.results-container {
	padding: 0;

}

.input-container.results-container input.input {
	border: oldlace;
	box-shadow: none;
	// border-bottom: 1px solid #bcbcbc;
	border-radius: 0;
	max-width: 130px;
	margin: 0;
	font-size: 2rem;
	color: $d-blue;
	padding: 0;
	@media screen and (max-width: 1280px) {
		max-width: 100%;
		text-align: center;
	}
}

table#whresults {
	text-align: left;
	margin: 20px 0 0;
	border-collapse: collapse;
}
span.false-label {
	margin-right: 20px;
	font-weight: 700;
	padding: 5px 1px 0;
	font-size: 0.8rem;
}
th {
	padding: 0 20px 10px;
}
table#whresults tr td {
	padding: 12px 20px;
	line-height: 1;
	border: 1px solid #b0b0b0;
	@media screen and (max-width: 1280px) {
		padding: 5px 10px;
	}
}

.tr-high.m-high .male {
	background: red;
	color: #fff;
}
.tr-high.m-moderate .male {
	background: orange;
	color: #fff;
}
.tr-high.m-low .male {
	background: green;
	color: #fff;
}

.tr-mid.m-high .male {
	background: red;
	color: #fff;
}
.tr-mid.m-moderate .male {
	background: orange;
	color: #fff;
}
.tr-mid.m-low .male {
	background: green;
	color: #fff;
}

.tr-low.m-high .male {
	background: red;
	color: #fff;
}
.tr-low.m-moderate .male {
	background: orange;
	color: #fff;
}
.tr-low.m-low .male {
	background: green;
	color: #fff;
}

.tr-high.f-high .female {
	background: red;
	color: #fff;
}
.tr-high.f-moderate .female {
	background: orange;
	color: #fff;
}
.tr-high.f-low .female {
	background: green;
	color: #fff;
}

.tr-mid.f-high .female {
	background: red;
	color: #fff;
}
.tr-mid.f-moderate .female {
	background: orange;
	color: #fff;
}
.tr-mid.f-low .female {
	background: green;
	color: #fff;
}

.tr-low.f-high .female {
	background: red;
	color: #fff;
}
.tr-low.f-moderate .female {
	background: orange;
	color: #fff;
}
.tr-low.f-low .female {
	background: green;
	color: #fff;
}
